.badge-container {

}
.main {
  background-color: #FFF;
  border-radius: 15px;
  padding: 20px;
  margin-top: 40px;
}
.badge-group {
  padding-bottom: 30px;
  padding-left: 20px;
  margin: 0 !important;
}
.badge-title {
  background-color: #810C15;
  h4 {
    padding-left: 20px;
  }
}
.badge-item {
  margin-top: 15px;
}
.badge-modal {
  background: url("assets/img/badge-background.png") #ffffff;
  min-height: 200px;
  height: 350px !important;
  outline: none;
  max-width: 500px !important;
  border: 0;
  position: fixed;
  top: 110px !important;
}
.new {
  position: absolute;
  left: 56px;
}

.badge-main-right {
  background-color: #FFF;
  border-radius: 15px;
  padding: 20px;
  margin-top: 40px;
}
.no-margin {
  margin: 0;
}




