<div class="fixed contain-to-grid app-top-bar">
  <top-bar>
    <ul class="columns small-5 title-area">
      <li class="name">
       <a href="/">
          <img src="assets/img/logo.png" />
          <span class="version">v1.0.3</span>
        </a>
      </li>
    </ul>
    <top-bar-section>
      <!-- Left Nav Section -->
      <ul class="left menus" ng-if="auth.loggedIn">
        <li class="menu-item" ng-class="{'active': path == '/'}">
          <a href="/" target="_self" translate="BTN_HOME"></a>
        </li>
        <li class="menu-item" ng-class="{'active': path.indexOf('/forum') >= 0}">
          <a href="/forum" target="_self" translate="BTN_HOME"></a>
        </li>
        <!-- <li class="menu-item" ng-class="{'active': path.indexOf('/weakestword') >= 0}">
          <a href="/weakestword" target="_self">Từ vựng</a>
        </li> -->
      </ul>
      <!-- Right Nav Section -->
      <ul class="right" ng-if="auth.loggedIn">
        <li class="has-form notification" notification-dropdown-button></li>
        <li class="has-form setting">
          <a dropdown-toggle="#dropdown-setting" class="button">
            <img src="assets/img/button-05.png" alt="" />
          </a>
          <ul id="dropdown-setting" class="f-dropdown" dropdown-align="right">
            <li><a href="/profile" target="_self" translate="LABEL_USER_PROFILE"></a></li>
            <li><a href="/setting/account" target="_self" translate="LABEL_SETTINGS"></a></li>
            <li><a ng-click="showShortcutPopup()" translate="LABEL_KEYBOARD_SHORTCUT"></a></li>
            <li><a ng-click="logout()" translate="LABEL_LOG_OUT"></a></li>
          </ul>
        </li>
      </ul>
      <ul class="right" ng-if="!auth.loggedIn" ng-controller="LoginModalCtrl">
        <li class="has-form">
          <a class="reverse login button" ng-click="open()" translate="BTN_LOGIN"></a>
        </li>
      </ul>
    </top-bar-section>
  </top-bar>
</div>