<div class="leaderboard" ng-if="showLeaderboard" leaderboard-data="leaderboardData" leaderboard-home></div>
<div class="leaderboard" ng-if="showFbFriends" leaderboard-fb-friends></div>
<div class="leaderboard" ng-if="showFriends" leaderboard-friends></div>
<div class="row" ng-if="showLeaderboard">
<div class="columns small-16">
  <a href="#" class="small-16 secondary memo-button facebook-search" ng-click="searchFbFriends()" >Tìm bạn trên facebook</a>
</div>
</div>
<div class="row" ng-if="showLeaderboard">
  <div class="columns small-8">
    <a dropdown-toggle="#search-friend" class="small-16 secondary email-invitation memo-button">Mời</a>
    <div id="search-friend" class="f-dropdown" leaderboard-email-invite show-on-click="true"></div>
  </div>
  <div class="columns small-8">
    <a href="#" class="small-16 secondary memo-button memo-search" ng-click="searchFriends()">Tìm kiếm</a>
  </div>
</div>