<div class="row">
  <div class="small-6 columns">
    <img src="{{badge.unlock_image}}" />
  </div>
  <div class="small-10 columns">
    <p>
        {{badge.title}}
    </p>
    <p style="color: #810C15">
        Thể loại: {{badge.name}}
    </p>
  </div>
</div>
<div class="small-16 columns small-text-center">
  <img src="assets/img/badge-popup-line.png" alt="line"/>
</div>
<div class="row">
  <div class="small-4 columns">
    <p>
        Giới thiệu:
    </p>
  </div>
  <div class="small-12 columns">
    <p>
        {{badge._description}}
    </p>
  </div>
</div>
<div class="row" ng-if="!badge.is_lock">
  <div class="small-16 columns" style="text-align: center">
    <a href="" class="small button info" ng-click="shareBadge()">CHIA SẺ</a>
  </div>
</div>