<div class="row">
  <div class="small-8 columns">
    <a href="" class="left small-4 left material-button" ng-click="skip()" translate="BTN_SKIP"></a>
  </div>
  <div class="small-4 columns">
  </div>
  <div class="small-4 columns hover-button-text">
    <a href="" class="right small-9 {{question.userAnswer ? '' : 'disabled' }} check material-button" ng-click="check()" popover="{{'TEXT_SHORTCUT_ENTER_KEYBOARD' | translate}}" popover-trigger="mouseenter" popover-placement="left">{{'BTN_CHECK' | translate}}</a>
  </div>
</div>

