<section class="app">
  <div class="row player lesson-page">
    <div class="container">
      <header style="padding-bottom: 0;">
        <div class="small-4 columns text-center track" ng-if="questionTpl != 'questionFailure' && questionTpl != 'questionSuccess' && questionTpl != 'questionLastScreen'">
          <div class="row">
            <div class="small-8 columns">
              <a ng-if="examType == 'checkpoint'" href="" ng-click="quit(false, '/')" translate="BTN_QUIT"></a>
              <a ng-if="examType != 'checkpoint'" href="" ng-click="quit(false, '/skill')" translate="BTN_QUIT"></a>
            </div>
            <div class="small-8 columns">
            </div>
          </div>
        </div>
        <!--<div class="small-8 columns" ng-if="questionTpl != 'questionFailure' && questionTpl != 'questionSuccess' && questionTpl != 'questionLastScreen'">-->
          <!--<div class="distinct progress question-{{questions.length}}" >-->
            <!--<span class="ant jump-{{ant}}"></span>-->
            <!--<span class="done meter" ng-repeat="i in getNumber(answered) track by $index">-->
            <!--</span>-->
            <!--<span class="nothing meter" ng-repeat="j in getNumber(questions.length - answered) track by $index">-->
            <!--</span>-->
          <!--</div>-->
        <!--</div>-->
        <div class="small-7 columns"></div>
        <div class="small-5 columns" ng-if="questionTpl != 'questionFailure' && questionTpl != 'questionSuccess' && questionTpl != 'questionLastScreen'">
          <div class="">
            <div class="small-3 columns inventory" style="margin-top: 3px;">
              <span class="item" ng-repeat="item in availableItems">
              <img ng-if="item" ng-src="assets/img/{{item.base_item_id}}.png" style="width:25px;height:35px;" ng-click="useItem(item.base_item_id)" />
              </span>
            </div>
            <div class="small-6 columns hearts" style="background-color: #ffbb33;border-radius: 30px;float: left;margin-top: 3px;">
                <span class="heart"></span>
                <span>x{{hearts.remaining}}</span>
            </div>
            <div style="position: absolute;top: 38px;left: 229px;">
              {{answered || 0}} / {{questions.length || 0}}
            </div>
            <div class="small-6 columns"
                    round-progress
                    max="max"
                    current="current"
                    color="{{ getColor() }}"
                    bgcolor="{{ bgColor }}"
                    radius="{{ radius }}"
                    semi="isSemi"
                    rounded="rounded"
                    stroke="{{ stroke }}"
                    clockwise="clockwise"
                    responsive="responsive"
                    duration="{{ duration }}"
                    animation="{{ currentAnimation }}">
              <svg width="200" height="200"  viewBox="0 0 50 20" >
                <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                  <stop offset="5%"  stop-color="green"/>
                  <stop offset="95%" stop-color="gold"/>
                </linearGradient>
              </svg>

            </div>
          </div>
        </div>
      </header>
      <div class="question" tabindex="0" ng-keyup="keyUpHandler(event=$event)">
        <question-form ng-if="questionTpl == 'questionForm'"></question-form>
        <question-judge ng-if="questionTpl == 'questionJudge'"></question-judge>
        <question-listen ng-if="questionTpl == 'questionListen'" answer="question.userAnswer"></question-listen>
        <question-name ng-if="questionTpl == 'questionName'" answer="question.userAnswer"></question-name>
        <question-select ng-if="questionTpl == 'questionSelect'" answer="question.userAnswer"></question-select>
        <question-translate ng-if="questionTpl == 'questionTranslate'" answer="question.userAnswer"></question-translate>
        <question-failure ng-if="questionTpl == 'questionFailure'" answer="question.userAnswer"></question-failure>
        <question-success ng-if="questionTpl == 'questionSuccess'" answer="question.userAnswer"></question-success>
        <question-last-screen ng-if="questionTpl == 'questionLastScreen'" answer="question.userAnswer"></question-last-screen>
      </div>
      <footer ng-if="questionTpl != 'questionLastScreen'">
      <footer-question ng-if="footerTpl == 'footer'"></footer-question>
    <footer-failure ng-if="footerTpl == 'footerFailure'"></footer-failure>
  <footer-success ng-if="footerTpl == 'footerSuccess'"></footer-success>
<footer-result ng-if="footerTpl == 'footerResult'"></footer-result>
</footer>
</div>
</div>
</section>
