<div class="max-course-popup-modal-inner">
  <div class="row">
  	<a class="close-reveal-modal right" ng-click="close()">&#215;</a>
  </div>
  <div class="row">
    <p class="title text-center" translate="TEXT_MAX_SKILL_TITLE"></p>
  </div>
  <div class="row">  
    <p class="discription text-center" traslate="TEXT_MAX_SKILL_CONTENT"></p>
  </div>
  <div class="row text-center">
  	<img class="max-course-icon" src="/assets/img/max-course-icon.png" />
  </div>
  <div class="row">
  	<div class="columns small-8">
  	  <a class="small-16 radius button max-course-button share" ng-click="shareMaxSkill()" translate="BTN_SHARE"></a>
  	</div>
  	<div class="columns small-8">
  	  <a class="small-16 radius button max-course-button close" ng-click="close()" translate="BTN_CONTINUE"></a>
  	</div>
  </div>
</div>
