<div class="max-course-popup-modal-inner">
  <div class="row">
  	<a class="close-reveal-modal right" ng-click="close()">&#215;</a>
  </div>
  <div class="row">
    <p class="title text-center">Chúc mừng bạn đã phá đảo</p>
  </div>
  <div class="row">  
    <p class="discription text-center">Bạn đã học hết bảng kỹ năng tiếng Anh rồi,<br> nhưng đừng quên phải luôn luyện tập nhé!</p>
  </div>
  <div class="row text-center">
  	<img class="max-course-icon" src="/assets/img/max-course-icon.png" />
  </div>
  <div class="row">
  	<div class="columns small-8">
  	  <a class="small-16 radius button max-course-button share" ng-click="shareMaxSkill()">Chia sẻ</a>
  	</div>
  	<div class="columns small-8">
  	  <a class="small-16 radius button max-course-button close" ng-click="close()">Tiếp tục</a>
  	</div>
  </div>
	<!-- <div class="max-course-popup-header">
	  <p class="title">Chúc mừng bạn đã phá đảo</p>
	  <p class="discription">Bạn đã học hết bảng kỹ năng tiếng Anh rồi,<br> nhưng đừng quên phải luôn luyện tập nhé!</p>
	</div>
	<div class="max-course-popup-midder">
	  <img class="max-course-icon" src="/assets/img/max-course-icon.png" />	
	</div>
	<div class="max-course-popup-footer">	
	  <div class="columns small-8">
	  	<a class="small-16 radius button" ng-click="shareMaxSkill()">Chia se</a>
	  </div>
	  <div class="columns small-8">
	  	<a class="small-16 radius button" ng-click="close()">Tiep tuc</a>
	  </div>
	</div> -->
</div>
