<!-- <div class="popup-inner">
  <div class="popup-content">
    <img ng-src="{{popup.popup_image}}" />
  </div>
  <div class="popup-toolbar">
    <div class="row">
      <div class="large-8 columns text-center">
        <a class="radius button first-button" ng-click="closePopup()" ng-bind-html="popup.first_button_text"></a>
      </div>
      <div class="large-8 columns text-center">
        <a class="radius button last-button" ng-click="openPopup()">{{popup.last_button_text}}</a>
      </div>
    </div>
  </div>
</div> -->

{{popup}}
<div class="small-{{popup.col * 4 / 3}} columns">
  
</div>