<section class="create-post">
  <section class="main-left"> <!-- start main-left -->
    <section class="panel create-post-panel"> <!-- start post-panel -->
      <div class="create-post-panel-header">
       <div class="left">
        <select ng-model="data.base_course_id" ng-options="subscription._id as subscription.name for subscription in listSubscriptions">
          <option value="" translate="BTN_SELECT_SUBSCRIPTION"></option>
        </select>
       </div>
     </div>
     <div class="create-post-panel-iner">
        <div class="editor-title">
          <textarea id="createPostTitle" class="editor-title-textarea" ng-model="data.title" placeholder="{{'TEXT_CREAT_POST_TITLE' | translate}}"></textarea>
        </div>
        <div class="editor-desc">
          <textarea id="createPostContent" class="editor-desc-textarea" ng-model="data.content" placeholder="{{'TEXT_CREAT_POST_CONTENT' | translate}}"></textarea>
      </div>
    </div>
    <div class="editor-toolbar">
      <a class="small radius button post-button left" ng-click="createPost()" translate="BTN_CREATE_POST"></a>
      <a href="/forum/" class="small radius button cancel-button left" translate="BTN_CANCEL"></a>
    </div>
    </section> <!-- end post-panel -->  	
  </section> <!-- end main-left -->
  <section class="main-right">
  <section class="panel search-panel">
        <div class="search">
          <input type="text" ng-model="postSearch.keywords" ng-keydown="search(event=$event)" placeholder="{{'TEXT_SEARCH_POST' | translate}}">
          <a class="small radius button" ng-click="searchWithButton()"></a>
        </div>
      </section>
      <section class="panel channel-follow">
        <h4 class="title" translate="TEXT_SUBSCRIPTIONS"></h4>
        <div class="course-language">
       <ul>
         <li ng-repeat="subscriber in subscribers.list_subscriptions">
         <img class="avatar-course" ng-src="/assets/img/Forum/{{subscriber._id}}.png" />          
            <a ng-href="/forum?filter={{subscriber._id}}">{{subscriber.name}}</a>
         </li>
       </ul>
      </div>
      </section>
    </section>
  </section>