<section class="create-post">
  <section class="main-left"> <!-- start main-left -->
    <section class="panel create-post-panel"> <!-- start post-panel -->
      <div class="create-post-panel-header">
       <div class="left">
        <select ng-model="data.base_course_id" ng-options="subscription._id as subscription.name for subscription in listSubscriptions">
          <option value="">Chọn kênh thảo luận</option>s
        </select>
       </div>
     </div>
     <div class="create-post-panel-iner">
        <div class="editor-title">
          <textarea id="createPostTitle" class="editor-title-textarea" ng-model="data.title" placeholder="Tiêu đề thảo luận"></textarea>
        </div>
        <div class="editor-desc">
          <textarea id="createPostContent" class="editor-desc-textarea" ng-model="data.content" placeholder="Nội dung thảo luận"></textarea>
      </div>
    </div>
    <div class="editor-toolbar">
      <a class="small radius button post-button left" ng-click="createPost()">Tạo chủ đề mới</a>
      <a href="/forum/" class="small radius button cancel-button left">Hủy</a>
    </div>
    </section> <!-- end post-panel -->  	
  </section> <!-- end main-left -->
  <section class="main-right">
  <section class="panel search-panel">
        <div class="search">
          <input type="text" ng-model="postSearch.keywords" ng-keydown="search($event=event)" placeholder="Tìm kiếm chủ đề">
        </div>
      </section>
      <section class="panel channel-follow">
        <h4 class="title">Kênh theo dõi</h4>
        <div class="course-language">
       <ul>
         <li ng-repeat="subscriber in subscribers.list_subscriptions">
         <img class="avatar-course" ng-src="/assets/img/{{subscriber._id}}.png" />          
            <a ng-href="/forum?filter={{subscriber._id}}">{{subscriber.name}}</a>
         </li>
       </ul>
      </div>
      </section>
    </section>
  </section>