<section class="panel search-panel">
  <div class="search">
    <input type="text" ng-model="postSearch.keywords" ng-keydown="search($event=event)" placeholder="{{'TEXT_SEARCH_POST' | translate}}">
  </div>
</section>
<section class="panel chanel-panel">
  <div class="channel-follow">
    <h4 class="title" translate="TEXT_SUBSCRIPTIONS"></h4>
    <div class="course-language">
      <ul>
        <li ng-repeat="subscriber in subscribers.list_subscriptions">
          <a ng-href="/forum?filter={{subscriber._id}}">{{subscriber.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</section>