<section class="forumDetail">
  <section class="main-left"> <!-- start main-left -->
    <section class="panel post-panel"> <!-- start post-panel -->
      <div class="post-panel-header">
       <div class="left">
         <h4 class="title">Các chủ đề</h4>	
       </div>
       <div class="right">
         <a class="small radius button follow-post-button" ng-if="isFollow == true">Theo dõi chủ đề</a>
         <a class="small radius button follow-post-button" ng-if="isFollow == false">Bỏ theo dõi chủ đề</a>
       </div>
     </div>    	
    </section> <!-- end post-panel -->  	
  </section> <!-- end main-left -->
  <!-- <section class="main-right"> 
    <section class="panel">abc    	
    </section> 	
  </section> -->
</section>