<section class="post-detail">
  <section class="main-left"> 
    <section class="panel post-detail-panel">
      <section class="post-info">
        <div class="post-info-header">
          <div class="left">
            <h4 class="title">Các chủ đề</h4>
          </div>
          <div class="right">
            <a class="small radius button follow-button" ng-if="post.follow == false" ng-click="followPost()">Theo dõi chủ đề</a>
            <a class="small radius button follow-button" ng-if="post.follow == true" ng-click="unfollowPost()">Bỏ theo dõi</a>
          </div>
        </div>
        <div class="post-info-inner">
          <div class="post-version">
            <img class="poster-avatar" ng-src="{{post.url_avatar || 'assets/img/profile-avatar-big.png'}}" />
            <div class="post-version-content left">
              <div class="post-version-header">
                <div class="title">{{post.title}}</div>
                <div>{{post.user}}</div>
                <div><span class="created-date">17/02/2014</span> - Tiếng Đức</div>
              </div>
              <div class="post-version-middler">  
                <div ng-bind="post.content"></div>
              </div>
              <div class="post-version-toolbar">
                <div class="total-vote left">{{post.up_vote}}</div>
                <a class="vote-up left" ng-class="{'active': post.type == 'upvote','disable': post.type == 'downvote' || post.vote == false}" ng-click="voteUp()"></a>
                <div class="total-vote left">{{post.down_vote}}</div>
                <a class="vote-down left" ng-class="{'active': post.type == 'downvote','disable': post.type == 'upvote' || post.vote == false}" ng-click="voteDown()"></a>
              </div>
            </div>
          </div>
          <div class="comment-version">
            <img class="commenter-avatar" ng-src="{{post.url_avatar || 'assets/img/profile-avatar-big.png'}}" />
            <div class="comment-version-content left">
              <div class="comment-editor">
                <textarea ng-model="data.content" class="comment-editor-textarea" placeholder="Gửi bình luận của bạn"></textarea>
              </div>
              <div class="comment-toolbar">
                <a class="small radius button send-comment-button" ng-click="creatComment()">Gửi</a>
                <!-- <a class="small radius button cancel-button">Hủy</a> -->
              </div>
            </div>  
          </div>
        </section>
        <section class="comment-info">
          <div class="comment-info-header">
            <div class="left">
              <h4 class="title">Có {{post.total_comment}} bình luận</h4>
            </div>
          </div>
          <div class="comment-info-inner">
            <ul class="comments">
              <li class="comment">
                <img class="comment-avatar" ng-src="{{post.url_avatar || 'assets/img/profile-avatar-big.png'}}" />
                <div class="comment-content">
                  <div class="comment-content-top">
                    <a class="comment-name-text">ljnkshady</a>
                  </div>
                  <div class="comment-content-mid">
                    <div class="comment-content-text">"tôi nói chuyện" chương trình báo sai</div>
                  </div>
                  <div class="comment-content-toolbar">
                    <div class="total-vote left">{{post.up_vote - post.down_vote}}</div>
                    <a class="vote-up left" ng-click="voteUp()"></a>
                    <a class="vote-down left" ng-click="voteDown()"></a>
                    <a class="reply left" ng-click="reply()">Trả lời</a>
                  </div>
                  <div class="comment-version" ng-if="isReplying">
                    <div class="avatar left"><img ng-src="{{user.url_avatar || 'assets/img/profile-avatar-big.png'}}" /></div>
                    <div class="comment-editor left">
                      <div class="comment-editor-textarea"><textarea name=""></textarea></div>
                      <div class="comment-editor-toolbar">
                        <a class="small radius button send-comment-button" ng-click="">Gửi</a>
                        <a class="small radius button send-comment-button" ng-click="cancelReply()">Hủy</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </section>   
      </section>    
    </section> 
    <section class="main-right"> 
      <section class="panel">
      </section>  
    </section>
  </section>