<section class="weakest-word">
  <section class="main-left">
    <section class="panel weakest-word-panel">
      <div class="weakest-word-header">
        <h4 class="title" ng-bind="weakest_word.title"></h4>
      </div>
      <div class="total-word" ng-bind="weakest_word.content"></div>
      <table class="weakest-words" cellspacing="0" cellpadding="0" border="0">
        <thead>
          <tr>
            <th><a href="">Từ vựng</a></th>
            <th><a href="">Kĩ năng</a></th>
            <th><a href="">Lần ôn tập cuối</a></th>
            <th><a href="">Độ nhớ</a></th>
          </tr>
        </thead>
        <tbody>
          <tr class="word" ng-repeat="word in weakest_word.weakest_words">
            <td ng-click="getWordDetail(word)" class="word-text"><span ng-bind="word.text"></span>
              <div class="translation">
                <span ng-bind="word.definitions"></span>
              </div>
            </td>
            <td ng-click="getWordDetail(word)" class="word-skills" ng-bind="word.skills"></td>
            <td ng-click="getWordDetail(word)" class="word-last-study" ng-bind="word.last_study"></td> 
            <td ng-click="getWordDetail(word)" class="word-strength-gap" ng-class="{'level-1': word.strength_gap == 1 , 'level-2' : word.strength_gap == 2 , 'level-3' : word.strength_gap == 3 , 'level-4' : word.strength_gap == 4}"></td>  
          </tr>
        </tbody>
      </table>
      <div class="weakest-word-footer">
        <div class="pagination-centered">
          <pagination boundary-links="true" total-items="total_items" page="currentPage" on-select-page="setPage(page)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="Đầu" last-text="Cuối" rotate="false" max-size="max_page"></pagination>
        </div>
      </div>
    </div>
  </section>
</section>
<section class="main-right"> 
  <section class="panel weakest-word-panel" ng-show="!getDetail">
    <h4 class="title">Spaced repetition</h4>
    <p>Memo's algorithms figure out when you should practice words to get them into your long-term memory. </p>
    <ul class="level-base-word">
      <li><img src="assets/img/weakest-word-icon/strength-level-04.png" alt="">Vấn nhớ tốt</li>
      <li><img src="assets/img/weakest-word-icon/strength-level-03.png" alt="">Nhớ khá tốt</li>
      <li><img src="assets/img/weakest-word-icon/strength-level-02.png" alt="">Cần ôn tập</li>
      <li><img src="assets/img/weakest-word-icon/strength-level-01.png" alt="">Quên rồi!</li>
    </ul>
  </section>
  <section class="panel weakest-word-info-panel" ng-show="getDetail">
    <a class="weakest-word-back"><span style="font-size: 24px;">&lsaquo; </span>Quay lại</a>
    <div class="content">
      <a class="speaker" ng-click="speaker.play()"></a>
      <span class="word" ng-bind="word_detail.text"></span>
    </div>
    <div class="description">
      <div class="description-left">
        <div class="traslation">
          <span class="title">Dịch nghĩa</span>
          <span class="content"></span>
        </div>
        <div class="skill">
          <span class="title">Kĩ năng</span>
          <span class="content" ng-bind="word_detail.skills"></span>
        </div>
      </div>
      <div class="description-right">
        <div class="strengthen">
          <p class="word-strength-gap" ng-class="{'level-1': word_detail.strength_gap == 1 , 'level-2' : word_detail.strength_gap == 2 , 'level-3' : word_detail.strength_gap == 3 , 'level-4' : word_detail.strength_gap == 4}"><span style="border-bottom: solid 1px #999">Độ nhớ</span></p>
        </div>
      </div>
      <div class="description-bottom">
        <div class="example">
          <span class="title">Ví dụ</span>
          <span class="content" ng-bind="word_detail.pre_exercise"></span>
        </div>
      </div>
    </div>
  </section>
</section>
</section>