.weakest-word {
  @include grid-row;
  padding-top: 42px;
  .main-left {
    @include grid-column($columns: 11);
    .weakest-word-panel {
      padding: 30px;  
      @include grid-row;
      .total-word {
        padding-top: 10px;
      }
      table {
        @include grid-row;
        margin-top: 20px;
        border:none;
        thead {
          tr {
            th {
              a {
                background: url("assets/img/weakest-word-icon/dropdown.png") right no-repeat;
                padding-right: 15px;
              }
            }
          }
        }
        tbody {
          margin-top: 15px;
          tr.word {
            border-bottom:  solid 1px #ccc;
            cursor: pointer;
            .word-text {
              span {
                color: #666;
                border-bottom: dotted 2px #ccc;
              }
              &:hover .translation {
                display: block;
              }
            }
            &:hover {
              background: $smoke;
            }
            .translation {
              border: 1px solid #CCC;
              border-radius: 5px;
              position: absolute;
              padding: 10px;
              margin-top: -29px;
              margin-left: 18px;
              background: #fff;
              word-wrap: break-word;
              width: 80px;
              line-height: 25px;
              display: none;
              span {
                font-weight: 600;
                border-bottom: solid 2px #ccc;
              }
            }
            .level-1 {
              background: url("assets/img/weakest-word-icon/strength-level-01.png") left no-repeat;
            }
            .level-2 {
              background: url("assets/img/weakest-word-icon/strength-level-02.png") left no-repeat;
            }
            .level-3 {
              background: url("assets/img/weakest-word-icon/strength-level-03.png") left no-repeat;
            }
            .level-4 {
              background: url("assets/img/weakest-word-icon/strength-level-04.png") left no-repeat;
            }
          }
        }
      }
    }
    .weakest-word-footer {
      margin-top: 20px;
    }
  }	
  .main-right {
    @include grid-column($columns: 5);
    .weakest-word-panel {
      margin-top: 0;
      padding: 30px; 
      ul.level-base-word {
        list-style: none;
        li {
          margin-left: 30px;
          margin-bottom: 10px;
          img {
            padding-right: 20px;
          }
        }
      }
    }
    .weakest-word-info-panel{
      @include grid-row;
      margin-bottom: 30px;
      padding: 30px;
      .weakest-word-back {
        margin-bottom: 20px;
        color: #333;
        display: block;
      }
      .header {
        font-size: 16px;
        padding-bottom: 40px;
        .title {
          color: $oil;
        }
      }
      .content {
        @include grid-column($columns: 16);
        @include grid-row;
        padding-bottom: 20px;
        .speaker {
          @include grid-column($columns: 8);
          background: url("assets/img/lesson-speaker.png") no-repeat;
          background-size: cover;
          display: inline-block;
          height: 40px;
          width: 40px;
          cursor: pointer;
        }
        .word {
         @include grid-column($columns: 8);
         font-size: 24px;
         color: $oil;
       }
     }
     .description {
      @include grid-column($columns: 16);
      .description-left {
        @include grid-column($columns: 8);
        padding: 0 10px 0 10px;
        .traslation {
          .title {
            font-size: 16px;
            color: $aluminum;
          }
          .content {
            border-top: 1px solid $aluminum;
            font-size: 16px;
            color: $oil;
            padding: 5px 0 40px 0;
          }
        }
        .skill {
          .title {
            font-size: 16px;
            color: $aluminum;
          }
          .content {
            border-top: 1px solid $aluminum;
            font-size: 16px;
            color: $oil;
            padding: 5px 0 40px 0;
          }
        }
      }
      .description-right {
        @include grid-column($columns: 8);
        padding: 0 10px 0 10px;
        .strengthen {
          .title {
            font-size: 16px;
            color: $aluminum;
          }
          .content {
            border-top: 1px solid $aluminum;
            font-size: 16px;
            color: $oil;
            padding: 5px 0 40px 0;
          }
          .level-1 {
            background: url("assets/img/weakest-word-icon/strength-level-01.png") left no-repeat;
            padding-bottom: 55px;
          }
          .level-2 {
            background: url("assets/img/weakest-word-icon/strength-level-02.png") left no-repeat;
            padding-bottom: 55px;
          }
          .level-3 {
            background: url("assets/img/weakest-word-icon/strength-level-03.png") left no-repeat;
            padding-bottom: 55px;
          }
          .level-4 {
            background: url("assets/img/weakest-word-icon/strength-level-04.png") left no-repeat;
            padding-bottom: 55px;
          }
        }
      }
      .description-bottom {
        @include grid-column($columns: 8);
        @include grid-row;
        .title {
         font-size: 16px;
         color: $aluminum;
       }
       .content {
        border-top: 1px solid $aluminum;
        font-size: 16px;
        color: $oil;
        padding: 5px 0 40px 0;
      }
    }
  }
}
}
.panel {
  @include panel($bg: $white);
  width: 100% !important;
  border: 0;
  border-radius: 20px;
}
}