.landingpage {
    a.reverse.button {
        background-color: $white;
        border: 2px solid $primary-color;
        border-radius: $global-radius;
        color: $primary-color;
        font-weight: 600;
        &:hover {
            background-color: $primary-color;
            color: $white;
        }
    }
    header {
        background-color: $white;
    }
    .top-bar {
        background-color: $white;
    }
    .top-bar-section {
        li {
            background-color: $white;
        }
    }
}
@import
    "components/header",
    "components/head",
    "components/info",
    "components/sb",
    "components/statistic",
    "components/slogan",
    "components/comment",
    "components/footer";