.max-course-popup-modal {
  width: 400px;
  min-height: 450px !important;
  padding: 30px 30px 20px 30px;
  top: 110px !important;
  position: fixed;
  outline: none;
  border: 0;
  .max-course-popup-modal-inner {
    font-size: 16px;
    .title {
      padding-top: 10px;
      font-weight: bold;
      color: $oil;
      margin: 0px;
    }
    .discription {
      color: $steel;
      margin-bottom: 30px;
    }
    .max-course-icon {
      margin-bottom: 20px;
    }
    .max-course-button {
      margin: 0;
      font-size: 18px;
      font-weight: bold;
      color: $white;
      text-align: center;
      &.share {
        background-color: #33b5e5;
        &:hover {
          background-color: scale-color(#33b5e5, $lightness: -20%);
        }
      }
      &.close {
        background-color: $success-color;
        &:hover {
          background-color: scale-color($success-color, $lightness: -20%);
        }
      }
    }
  }
}
