.scholarship-popup-modal {
  min-height: 500px !important;
  outline: none;
  min-width: 500px;
  border: 0;
  position: fixed;
  top: 110px !important;
  .scholarship-iframe {
    height: 450px;
    width: 95%;
    border: 0;
    top: 40px !important;
    position: fixed;
  }
}