.landingpage {
  .head {
    background: url("assets/img/landingpage/pattern01.png") repeat;
    min-height: 600px;
    &.appear {
      .ant {
        background: url("assets/img/landingpage/1-ant.png") no-repeat;
        left: 580px;
        bottom: 80px;
        width: 540px;
        height: 335px;
        position: absolute;
        z-index: 1;
        @include animation(bounceInUp 1s);
      }
      .chat-1 {
        background: url("assets/img/landingpage/01a_06.png") no-repeat;
        height: 111px;
        width: 149px;
        top: 115px;
        left: 625px;
        @include animation(bounceInUp 1.3s);
      }
      .chat-2 {
        background: url("assets/img/landingpage/01a_03.png") no-repeat;
        width: 172px;
        height: 135px;
        top: 40px;
        left: 780px;
        @include animation(bounceInUp 1.6s);
      }
      .chat-3 {
        background: url("assets/img/landingpage/01a_09.png") no-repeat;
        width: 103px;
        height: 103px;
        top: 120px;
        left: 1007px;
        @include animation(bounceInUp 2.1s);
      }
    }
    .container {
      min-height: 600px;
      .sa {
        margin-top: 70px;
        text-align: center;
        .sa-1, .sa-2 {
          font-weight: 700;
        }
        .sa-2 {
          text-transform: uppercase;
          color: $primary-color;
        }
        .register.button {
          margin-top: 20px;
          margin-bottom: 20px;
          font-weight: 700;
        }
        ul.inline-list {
          padding-left: -20px;
          > li {
            margin-left: 0;
          }
        }
        .ios, .android, .window {
          width: 150px;
          height: 59px;
          opacity: 0.7;
        }
        .ios, .android {
          &:hover {
            opacity: 1;
          }
        }
        .ios {
          background: url("assets/img/landingpage/1-ios.png") no-repeat;
          background-size: contain;
        }
        .android {
          background: url("assets/img/landingpage/1-adr.png") no-repeat;
          background-size: contain;
        }
        .window {
          background: url("assets/img/landingpage/1-wp.png") no-repeat;
          background-size: contain;
        }
      }
      .chat {
        position: absolute;
        text-align: center;
        line-height: 66px;
      }
    }
    // .advertise-box {
    //   background-color: #fffbc6;
    //   display: block;
    //   border: 2px dashed #c69c6d;
    //   border-radius: 10px;
    //   width: 350px;
    //   min-height: 175px;
    //   margin: 0 auto 20px;
    //   padding: 10px;
    //   text-align: left;
    //   .advertise-box-text {
    //     margin: 0;
    //     &.red {
    //       color: #ff4444;
    //     }
    //     &.big {
    //       font-weight: 700;
    //       font-size: 1.6em;
    //     }
    //     &.small {
    //       font-size: .8em;
    //     }
    //   }
    //   .memo-button {
    //     margin-left: 10px;
    //   }
    // }
  }
}

/*---------------------------------SLIDER---------------------------------------*/
.landingpage .head .container .sa{
  float: left;
}
.slider-landingpage  {
  width: 540px;
  height: 350px;
  float: right;
}

#sliderFrame {
    box-sizing: content-box;
    position: relative;
    height: 350px;
    width: 540px;
    margin-top: 50px;
}
#slider, #slider div.sliderInner {
    width:540px;height:350px;
}
#slider 
{
  // background:transparent url(assets/img/landingpage/loading.gif) no-repeat 50% 50%;
  position:relative;
  margin:0 auto; /*center-aligned*/
    transform: translate3d(0,0,0);
}
#slider a.imgLink, #slider {
  z-index:2;
  position:absolute;
  top:0px;left:0px;border:0;padding:0;margin:0;
}

#slider div.navBulletsWrapper  {
  display:none;
}
#slider div.loading 
{
    width:100%; height:100%;
    background:transparent url(assets/img/landingpage/loading.gif) no-repeat 50% 50%;
    filter: alpha(opacity=60);
    opacity:0.6;
    position:absolute;
    left:0;
    top:0; 
    z-index:9;
}
a.group1-Prev
{
    width:18px;
    height:40px;
    background:transparent url(assets/img/landingpage/arrow-left.png); 
    display:block; 
    cursor:pointer;
    position:absolute;
    top:0;
    user-select: none;
}
a.group1-Prev{
  background-position: 0px 0px;
left: -35px;
top: 165px;
 }
// a.group1-Prev:hover{background-position:50px 0;}

a.group1-Next
{
    width:18px;
    height:40px;
    background:transparent url(assets/img/landingpage/arrow-right.png); 
    display:block; 
    cursor:pointer;
    position:absolute;
    top:0;
    user-select: none;
}
a.group1-Next {
  background-position:0px;
  left:557px;
  top: 165px;
}
// a.group1-Next:hover {background-position:50px -150px;}

// a.group2-Prev, a.group2-Next, a.group2-Play, a.group2-Pause 
// {
//     width:20px; height:20px; 
//     background:transparent url(assets/img/landingpage/navbuttons.gif); 
//     display:inline-block; 
//     *display:inline;zoom:1;/*IE hack*/
//     margin-left:4px; margin-right:4px;
//     cursor:pointer;
// }
// a.group2-Pause{background-position:0 0;}
// a.group2-Play {background-position:0 -20px;}
// a.group2-Next {background-position:0 -40px;}
// a.group2-Prev {background-position:0 -60px;} 

// a.group2-Pause:hover{background-position:20px 0;}
// a.group2-Play:hover {background-position:20px -20px;}
// a.group2-Next:hover {background-position:20px -40px;}
// a.group2-Prev:hover {background-position:20px -60px;} 


/*---------------------------------END SLIDER--------------------------------*/