.landingpage {
  .head {
    background: url("assets/img/landingpage/pattern01.png") repeat;
    min-height: 600px;
    &.appear {
      .sa {
        margin-top: 70px;
        text-align: center;
        .sa-1, .sa-2 {
          font-weight: 700;
        }
        .sa-2 {
          text-transform: uppercase;
          color: $primary-color;
        }
      }
      .ant {
        background: url("assets/img/landingpage/1-ant.png") no-repeat;
        top: 290px;
        width: 410px;
        height: 260px;
        position: absolute;
        z-index: 1;
        @include animation(bounceInUp 1s);
      }
      .chat-1 {
        background: url("assets/img/landingpage/01a_06.png") no-repeat;
        height: 111px;
        width: 149px;
        top: 240px;
        left: 100px;
        @include animation(bounceInUp 1.3s);
      }
      .chat-2 {
        background: url("assets/img/landingpage/01a_03.png") no-repeat;
        width: 172px;
        height: 135px;
        top: 190px;
        left: 230px;
        @include animation(bounceInUp 1.6s);
      }
      .chat-3 {
        background: url("assets/img/landingpage/01a_09.png") no-repeat;
        width: 103px;
        height: 103px;
        top: 245px;
        left: 400px;
        @include animation(bounceInUp 2.1s);
      }
      .form-register {
        left: 600px;
        top: 120px;
        position: absolute;
        width: 390px;
        min-height: 380px;
        background-color: $white;
        border: 1px solid $primary-color;
        border-radius: 5px;
        .form-container {
          padding: 20px 30px 20px 30px;
          .form-title {
            color: $primary-color;
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 40px;
            .error {
              margin-bottom: 5px;
              margin-top: 0px;
              font-size: 16px;
            }
          }
          .form-input {
            margin-bottom: 15px;
            .username, .email, .password, .code {
              border-radius: 5px;
              padding: 5px 15px 5px 15px;
            }
          }
          .form-button {
            padding-top: 5px;
            .register-button {
              height: 50px;
              width: 100%;
              font-size: 22px;
              font-weight: bold;
              text-align: center;
              padding: 10px;
              margin: 0;
            }
          }
        }
      }
    }
    .container {
      min-height: 600px;
      .sa {
        margin-top: 70px;
        text-align: center;
        .sa-1, .sa-2 {
          font-weight: 700;
        }
        .sa-2 {
          text-transform: uppercase;
          color: $primary-color;
        }
        .register.button {
          margin-top: 20px;
          margin-bottom: 20px;
          font-weight: 700;
        }
        ul.inline-list {
          padding-left: -20px;
          > li {
            margin-left: 0;
          }
        }
        .ios, .android, .window {
          width: 150px;
          height: 59px;
          opacity: 0.7;
        }
        .ios, .android, .window {
          &:hover {
            opacity: 1;
          }
        }
        .ios {
          background: url("assets/img/landingpage/1-ios.png") no-repeat;
          background-size: contain;
        }
        .android {
          background: url("assets/img/landingpage/1-adr.png") no-repeat;
          background-size: contain;
        }
        .window {
          background: url("assets/img/landingpage/1-wp.png") no-repeat;
          background-size: contain;
        }
      }
      .chat {
        position: absolute;
        text-align: center;
        line-height: 66px;
      }
    }
    // .advertise-box {
    //   background-color: #fffbc6;
    //   display: block;
    //   border: 2px dashed #c69c6d;
    //   border-radius: 10px;
    //   width: 350px;
    //   min-height: 175px;
    //   margin: 0 auto 20px;
    //   padding: 10px;
    //   text-align: left;
    //   .advertise-box-text {
    //     margin: 0;
    //     &.red {
    //       color: #ff4444;
    //     }
    //     &.big {
    //       font-weight: 700;
    //       font-size: 1.6em;
    //     }
    //     &.small {
    //       font-size: .8em;
    //     }
    //   }
    //   .memo-button {
    //     margin-left: 10px;
    //   }
    // }
 
  }
}