@import "animate";

.landingpage {
  .statistic {
    background: url("assets/img/landingpage/3-bg.png") repeat;
    height: 186px;
    .container {
      padding-top: 50px;
      height: 186px;
    }
    .icon {
      display: inline-block;
      width: 30px;
      height: 30px;
    }
    .user .icon {
      background: url("assets/img/landingpage/user-icon.png") no-repeat;
    }
    .android .icon {
      background: url("assets/img/landingpage/android-icon.png") no-repeat;
    }
    .ios .icon {
      background: url("assets/img/landingpage/ios-icon.png") no-repeat;
    }
    .window .icon {
      background: url("assets/img/landingpage/wp-icon.png") no-repeat;
    }
    .pc .icon {
      background: url("assets/img/landingpage/web-icon.png") no-repeat;
    }
    .text {
      text-transform: uppercase;
      font-weight: 700;
      color: $white;
      margin: 0px;
    }
    .number {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 30px;
      color: $white;
    }
  }
}