.verify-rewards-modal {
  position: fixed !important;
  top: 100px !important;
  min-height: 150px !important;
  width: 550px;
  overflow: hidden;
  outline: none;
  border: 0;
  .text-bold {
    font-weight: bold;
  }
  .text-red {
    color: #810c15;
  }
  .verify-reward-container div {
    margin-bottom: 1.25rem;
  }
  .verify-reward-container div p {
    margin-bottom: 0px;
  }
  .verify-reward-container div.guide .sms-guide {
    width: 350px;
    margin: 0 auto;
    text-align: center;
    background: #FDE598;
    padding: 15px;
  }
}

.readme-modal {
  outline: none;
  min-height: 480px !important;
  min-width: 550px !important;
}

.verify-box {
  @include grid-row;
  .verify-box-inner {
    @include grid-column($columns: 16);
    min-height: 32px;
    .verify-button {
      border: 0;
      height: 40px;
      margin-top: -2px;
    }
    .verify-box-code {
      &.has-code {
        margin-left: -10px;
        margin-right: -10px;
      }
    }
  }
}