.job-detail-main {
  @include grid-row;
  padding-top: 42px;
  .main-left {
    @include grid-column($columns: 12);
    .panel {
      @include panel($bg: $white);
      width: 100% !important;
      border: 0;
    }
    .job-detail-panel {
      padding: 20px;
      border-radius: 10px;
      @include grid-row;
      .job-detail-header {
        .right {
          margin-right: 10px;
        }
        .left {
          margin-left: 10px;
          margin-top: 10px;
        }
        .return-button {
          color: #333;
          font-size: 1rem;
          font-weight: bold;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .job {
        clear: both;
        font-size: 25px;
        font-weight: 600;
        padding-top: 20px;
        display: block;
      }
      .description {
        border-bottom: 1px solid #999;
        padding-bottom: 5px;
        margin-bottom: 10px;
      }
    }
  }
  .main-right {
    @include grid-column($columns: 4);
    .panel {
      @include panel($bg: $white);
      width: 100% !important;
      border: 0;
    }
    .job-info-panel { 
      padding: 20px;
      border-radius: 10px;
      margin-top:0;
      .job-info-title {
        padding-top: 20px;
        font-size: 24px;
      }
      .job-info-content {
        font-size: 16px;
        padding-top: 20px;
        border-bottom: 1px solid $iron;
        .by_time {
          padding-bottom: 20px;
          span {
            color: #222;
            background: url("assets/img/jobs/job-type-icon.png") left no-repeat;
            padding-left:30px;
          }
        }
        .by_location {
          padding-bottom: 20px;
          span {
            color: #222;
            background: url("assets/img/jobs/job-location-icon.png") left no-repeat;
            padding-left: 28px;
          }
        }
        .by_phone {
          color: #222;
          background: url("assets/img/jobs/phone-icon.png") left no-repeat;
          padding-left:30px;
          margin-bottom:20px;
        }
      }
      .job-apply-content {
        font-size: 16px;
        text-align: center;
        .title {
          text-align:left;
          margin-top:15px;
          display:block;
          font-size:15px;
        }
        .apply-for-email {
          text-align:left;
          .title {
            display:block;
          }
          .email {
            color: $primary-color;
          }
        }
        .apply-for-hot-line {
          text-align:left;
          margin-bottom:20px;
          .title {

          }
          .hot-line {
            color: $primary-color;
          }
        }
      }
    }
  }
}