.lesson-page .question.judge {
    .content {
    }
    .answers {
        .answer {
            border-radius: 10px;
            border: 1px solid $smoke;
            box-shadow: 0 0 0 1px $gainsboro;
            float: left;
            min-height: 40px;
            padding: 5px 10px;
            margin-bottom: 20px;
            width: 100%;
            &.checked {
                background-color: $primary-color;
                border-color: $primary-color;
                label {
                    color: $white;
                }
            }
        }
    }
}