.player {
    .question {
	h4.name {
	    font-weight: 700;
	    margin-bottom: 70px;
	    text-align: center;
	}
	.lesson-finish-ant {
	    background: url('assets/img/lesson-finish-ant.png') no-repeat;
	}
	&.failure {
	    .lesson-finish-ant {
		background-position: 0 -314px;
		margin: 0 auto;
		display: block;
		width: 250px;
		height: 315px;
	    }
	}
	&.success {
	    margin-top: auto;
	    .slider {
		.slide {
		    h3 {
			text-align: center;
			margin-bottom: 30px;
		    }
		}
	    }
	    .col-left {
		border-right: 1px solid $gainsboro;
		height: 450px;
	    }
	    .col-right {
		padding-top: 30px;
		text-align: center;
	    }
	    .lesson-finish-ant {
		background-postition: 0 0;
		background-size: cover;
		display: block;
		width: 110px;
		height: 138px;
		margin: 30px auto;
	    }
	    .skill-row {
		@include grid-row();
		float: left;
		text-align: center;
		position: relative;
		.skill {
		    background: url('assets/img/hex-units.png') no-repeat;
		    margin: 0 auto 50px;
		    position: relative;
		    padding-top: 27px;
		    width: 140px;
		    height: 200px;
		    a {
			color: $white;
			display: block;
		    }
		    .name {
			margin: 10px auto;
		    }
		    .level {
			width: 110px;
			margin: 0 auto;
		    }
		    .icon {
			margin: 5px auto;
			height: 70px;
			width: 70px;
		    }
		    &.success {
			background-position: -560px 0;
			color: $white;
			.strength-bar {
			    height: 41px;
			    background: url('assets/img/hex-strength.png') no-repeat;
			}
			.icon {
			    background: url('assets/img/skills-pack-unlocked-70.png') no-repeat;
			}
		    }
		    $x : 1;
		    @for $i from 0 through 4  {
			@for $j from 0 through 10 {
			    &.skill-#{$x} {
				.icon {
				    background-position: $j*(-70px) $i*(-70px);
				}
			    }
			    $x : $x + 1;
			}
		    }
		}
	    }
	}
    }
}
@import
"question-select",
"question-translate",
"question-form",
"question-judge",
"question-listen",
"question-name",
"question-speak";