.welcome {
  .question.listen {
    @include grid-row;
    .question-inner {
      @include grid-column($columns: 12, $center: true);
      text-align: center;
      min-height: auto;
      h3.title {}
      .question-listen {
        @include grid-row;
        margin-top: 30px;
        .question-listen-speakers {
          @include grid-column($columns: 5);
          position: relative;
          height: 110px;
          > span {
            cursor: pointer;
          }
          .big-speaker {
            background: url("assets/img/lesson-speaker1.png") no-repeat;
            display: block;
            position: absolute;
            width: 95px;
            height: 95px;
            top: 0;
            right: 50px;
          }
          .small-speaker {
            background: url("assets/img/lesson-speaker-slow.png") no-repeat;
            display: block;
            position: absolute;
            width: 55px;
            height: 55px;
            top: 56px;
            right: 0;
          }
        }
        .question-listen-answer {
          @include grid-column($columns: 11);
          padding-top: 66px;
          input[type="text"] {
            border: 1px solid $gainsboro;
            border-radius: 10px;
            width: 400px;
            height: 40px;
            padding-left: 10px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.player .question {
  .listen {
    h4.name {
      margin-bottom: 40px;
    }
    .speaker {
      background: url("assets/img/lesson-speaker1.png") no-repeat;
      display: block;
      position: absolute;
      width: 94px;
      height: 74px;
      top: -17px;
      left: 118px;
    }
    .slow-speaker {
      background: url("assets/img/lesson-speaker-slow.png") no-repeat;
      display: block;
      position: absolute;
      width: 94px;
      height: 73px;
      top: -18px;
      left: 212px;
    }
    .buttons {
      position: relative;
      height: 110px;
      > span {
        cursor: pointer;
      }

    }
    .answer {
      padding-top: 66px;
      input[type="text"] {
        border: 1px solid $gainsboro;
        border-radius: 10px;
        width: 380px;
        height: 40px;
        padding-left: 10px;
        vertical-align: middle;
      }
    }
  }
}