<section class="verify-box">
  <div class="verify-box-inner">
    <div class="verify-box-code" ng-show="isReferral == ''">
      <span class="arrow-right band gold" style="top: 15px;left: 0;padding: 0 15px;" translate="LABEL_REFERRAL_CODE"></span>
      <div class="row collapse">
        <div class="large-13 columns">
          <input type="text" name="" value="" placeholder="" ng-model='refCode' ng-keydown="keydownHandler(event=$event);"/>
        </div>
        <div class="large-3 columns">
          <a title="" class="verify-button postfix" ng-click='submitCode()'><img src="assets/img/referral/arrow.png" alt=""></a>
        </div>
      </div>
      <p class="verify-box-error" style="color: #810c15;font-size: 12px; margin-bottom: 10px;">{{error}}</p>
    </div>
    <div class="row">
      <div class="large-16"><span translate="TEXT_REFERRAL_CODE"></span></div>
    </div>
  </div>
</section>