<h4>Bảng xếp hạng</h4>
<tabset>
  <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
    <div class="row" ng-repeat="friend in tab.users">
      <div class="columns small-11">
        <div class="columns small-3 avatar">
	  <img ng-src="friend.url_avatar" />
	</div>
        <div class="columns small-11 nickname">{{friend.username}}</div>
      </div>
      <div class="columns small-5 exp">{{friend.earned_exp}} XP</div>
    </div>
  </tab>
</tabset>
<div class="row">
  <div class="columns small-16">
    <a href="#" class="small-16 secondary memo-button facebook-search" ng-click="searchFbFriends()" >Tìm bạn trên facebook</a>
  </div>
</div>
<div class="row">
  <div class="columns small-8">
    <a dropdown-toggle="#search-friend" class="small-16 secondary email-invitation memo-button">Mời</a>
    <ul id="search-friend" class="f-dropdown content">
      <div class="row">
      	<div class="small-16 columns text-center">
      	  <h4>Mời thêm bạn bè</h4>
      	  <p>Nhập địa chỉ email của bạn bè để gửi họ lời mời</p>
      	  <textarea></textarea>
      	  <a ng-href="" class="small-16 memo-button">Gửi</a>
      	</div>
      </div>
    </ul>
  </div>
  <div class="columns small-8">
    <a href="#" class="small-16 secondary memo-button memo-search" ng-click="searchFriends()">Tìm kiếm</a>
  </div>
</div>
