<div class="container" style="margin-bottom: 20px; border: 2px solid #ffbb33; padding: 10px;" ng-if="!profile.birth_day">
  <div class="row" banner-update-birthday></div>
</div>
<div class="container" style="margin-bottom: 20px; border: 2px solid #ffbb33; padding-top: 60px;" ng-if="!profile.referral_user && sharedSettings.functionaly.should_share_facebook">
  <div class="row" campaign-verify-code></div>
</div>
<div class="banner-sa-native" alt="" ng-show="banner.banner_image">
  <a href="/plaza"><img src="{{banner.banner_image}}" alt="" /></a>
</div>
<div ng-if="false" class="udemy-banner">
  <img src="assets/img/banner-affiliate-udemy.png" alt="">
  <a href="http://click.linksynergy.com/link?id=emXJq2XJ/qI&offerid=323058.202094&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Freading-comprehension-tests-program%2F" class="button button-small radius" ng-click="trackingUdemy()">Tìm hiểu ngay</a>
</div>
<div class="container box-list-top" style="margin-bottom: 20px;">
  <div class="row leaderboard" leaderboard leaderboard-data="leaderboardData"></div>
</div>
<div google-ads-width="250px" google-ads-height="300px" google-ads-client="ca-pub-6371733042680225" google-ads-slot="3947530996" google-ads></div>