<!-- <div class="container" style="margin-bottom: 10px;text-align: center">
  <div class="row">
    <div class="banner" style="margin-bottom: 10px;">
      <a ng-href="http://bit.ly/MemoAvengers" target="_blank"><img src="assets/img/banner-avenger-event.png" /></a>  
    </div>
    <div class="banner-toolbar">
      <a class=" large-16 small radius button" style="margin: 0px; border: 2px solid #ffbb33;color: #810c15;background-color: #fff;font-size: 20px;height: 40px;padding: 5px" ng-href="http://bit.ly/MemoAvengers" target="_blank">THAM GIA NGAY</a>
    </div>
  </div>
</div> -->
<div class="container" style="margin-bottom: 20px; border: 2px solid #ffbb33; padding: 10px;" ng-if="!profile.birth_day">
  <div class="row" banner-update-birthday></div>
</div>
<div class="container" style="margin-bottom: 20px; border: 2px solid #ffbb33; padding-top: 60px;" ng-if="!profile.referral_user && sharedSettings.functionaly.should_share_facebook">
  <div class="row" campaign-verify-code></div>
</div>
<div class="banner-sa-native" alt="" ng-show="banner">
  <img src="{{banner.banner_image}}" alt="" />
  <div class="banner-toolbar">
    <a class="small radius button banner-button" href="{{banner.button_url}}" ng-click="trackingBannerNative()">{{banner.button_text}}</a>
  </div>
</div>
<div class="container box-list-top" style="margin-bottom: 20px;">
  <div class="row leaderboard" leaderboard leaderboard-data="leaderboardData"></div>
</div>
<div google-ads-width="250px" google-ads-height="300px" google-ads-client="ca-pub-6371733042680225" google-ads-slot="3947530996" google-ads></div>