<div class="new-main new-home-page">
  <div class="container">
    <div class="head">
      <div class="head-left">
        <img src="assets/img/new/en-vi-course-icon.png" alt="" class="course-icon">
        <span class="course-title">Kĩ năng Tiếng Anh</span>
        <a href="/course" title="" class="course-option">Đổi khóa học</a>
      </div>
      <div class="head-right">
        <a href="/practice" title="" class="small radius button strengthen-button">Củng cố kĩ năng</a>
      </div>
    </div>
    <div class="content">
      <ul>
        <li class="island" ng-repeat="island in islands track by $index">
          <div class="island-title">
            <span>{{island.title}}</span>
            <img src="assets/img/new/finished-lesson-icon.png" alt="" ng-if="island.is_unlock">
          </div>
          <div class="island-icon">
            <img src="{{island.icon_url}}" alt="">
          </div>
          <div class="island-progress-bar">
            <progressbar max="island.lessons_length" class="progress" value="island.finished_lesson">
              <span class="meter" style="width: 55%"></span>
            </progressbar>
          </div>
          <div class="island-status">
            {{island.finished_lesson}}/{{island.lessons_length}} Kỹ năng
          </div>
          <div >
            <a href="" title="" class="small radius button island-button" ng-if="island.finished_lesson == island.lessons_length">Củng cố từ vựng yếu</a>
            <a href="/island/{{$index + 1}}" title="" class="small radius button island-button" ng-if="!(island.finished_lesson == 0) && island.finished_lesson < island.lessons_length">Vào học</a>
            <a href="" title="" class="small radius button island-button disabled" ng-if="island.finished_lesson == 0">Vào học</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>