<div class="hexagon row">
  <div class="large-16 columns">
    <div class="row"><span class="ant"></span></div>
    <div class="container row">
      <h3 class="title">Choose your path</h3>
      <p>Beginners start at Basics 1.<br />Advanced learners take a short test.</p>
      <div class="skills">
	<div class="skill-row skill-block-even">
	  <div class="blue unlocked skill skill-1 skill-offset-0">
	    <a ng-href="/skill/en-vi_co_ban_1" ng-click="close()">
	      <div class="icon"></div>
	      <div class="name">Cơ bản 1</div>
	      <div class="level level-5"></div>
	    </a>
	  </div>
	  <div class="green unlocked skill skill-47 skill-offset-0">
	    <a ng-href="/placement/test" ng-click="close()">
	      <div class="icon"></div>
	      <div class="name">Placement test</div>
	      <div class="level level-5"></div>
	    </a>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
