<div class="hexagon row">
  <div class="large-16 columns">
    <div class="row"><span class="ant"></span></div>
    <div class="container row">
      <h3 class="title" translate="TEXT_EXAM_TITLE"></h3>
      <div class="skills">
        <div class="skill-row skill-block-even">
          <div class="blue unlocked skill skill-1 skill-offset-0">
            <a ng-href="/skill/en-vi_co_ban_1" ng-click="close()">
              <div class="icon" style="background-image: url('http://admin.memo.edu.vn/uploads/base_skill/web/unlocked.png');"></div>
              <div class="name" translate="TEXT_SKILL_CO_BAN_1"></div>
              <div class="level level-5"></div>
            </a>
          </div>
          <div class="skill-text">
            <p class="question" translate="TEXT_PLACEMENT_TEST_SKILL_QUESTION"></p>
            <p class="hook" translate="TEXT_PLACEMENT_TEST_SKILL_HOOK"></p>
          </div>
        </div>
      </div>
      <div class="skills">
        <div class="skill-row skill-block-even">
          <div class="green unlocked skill skill-47 skill-offset-0">
            <a ng-href="/placement/test" ng-click="close()">
              <div class="icon" style="background-image: url('http://admin.memo.edu.vn/uploads/base_skill/web/unlocked.png')"></div>
              <div class="name" translate="TEXT_PLACEMENT_TEST_TITLE"></div>
              <div class="level level-5"></div>
            </a>
          </div>
          <div class="skill-text">
            <p class="question" translate="TEXT_PLACEMENT_TEST_QUESTION"></p>
            <p class="hook" translate="TEXT_PLACEMENT_TEST_HOOK"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>