<div class="row" ng-if="!gift.isOpen">
  <div class="large-2 columns">
    <img src="assets/img/gift.png" alt="" />
  </div>
  <div class="large-11 columns">
    <span translate="TEXT_DAILY_GIFT_MEMO_COIN_TITLE"></span>
  </div>
  <div class="large-3 columns">
    <a class="small radius button" style="margin-bottom:0" ng-click="gift.openGift(profile)" translate="BTN_OPEN"></a>
  </div>
</div>
<div class="row" ng-if="gift.isOpen && gift.type == 't_shirt'">
  <div class="large-2 columns text-center">
    <img src="assets/img/memo-tshirt.png" width="60" height="60" alt="" />
  </div>
  <div class="large-14 columns">
    <p style="margin-bottom:0">{{'TEXT_OPEN_DAILY_GIFT' | translate}} <span>{{'TEXT_ITEM_T_SHIRT' | translate}} </span><span style="color:#810c15;font-weight:700;margin">{{'TEXT_TOPICA_MEMO' | translate}}</span></p>
    <span class="text-center" style="display:block;">
      <a class="small radius button" style="margin-bottom:0" ng-click="gift.openClaimTShirtModal(profile)" translate="BTN_GET_T_SHIRT"></a>
      <a class="small radius button" style="margin-bottom:0" ng-click="gift.openTShirtInfoModal()" translate="BTN_GET_T_SHIRT_GUIDE"></a>
    </span>
  </div>
</div>
<div class="row" ng-if="gift.isOpen && gift.type == 'memocoin'">
  <div class="large-2 columns text-center">
    <img src="assets/img/lesson-memos-big.png" width="60" height="60" alt="" />
  </div>
  <div class="large-14 columns">
    <p style="margin-bottom:0">{{'TEXT_OPEN_DAILY_GIFT' | translate}} <span style="color:#810c15;font-weight:700;">{{gift.value}} <span>{{'TEXT_MEMO_COIN' | translate}}</span></span>, {{'TEXT_DAILY_GIFT_CONTENT' | translate}}</p>
  </div>
</div>
<div class="row" ng-if="gift.isOpen && gift.type == 'gift_1m'">
  <div class="large-2 columns text-center">
    <img src="assets/img/tutorial/native-scholar.png" alt="" />
  </div>
  <div class="large-14 columns">
    <p>{{'TEXT_DAILY_GIFT_SCHOLARSHIP_NATIVE_TITLE' | translate}} <span style="color:#810c15;font-weight:700;">{{'TEXT_SCHOLAR_NATIVE_MONEY' | translate}}</span> {{'TEXT_OF' | translate}} <span style="color:#810c15;font-weight:700;">{{'TEXT_TOPICA_NATIVE' | translate}}</span></p>
    <span class="text-center" style="display:block;">
      <a class="small radius button" style="margin-bottom:0" ng-click="gift.openNativeInfoModal()" translate="TEXT_LEARN_TOPICA_NATIVE"></a>
      <a class="small radius button" style="margin-bottom:0" ng-click="gift.openClaimScholarModal(profile)" translate="TEXT_GET_SCHOLAR_TOPICA_NATIVE"></a>
    </span>
  </div>
</div>