<div class="row">
  <div class="large-2 columns text-center">
    <img src="assets/img/tutorial/native-scholar.png" alt="" />
  </div>
  <div class="large-14 columns">
    <p>{{'TEXT_DAILY_GIFT_SCHOLARSHIP_NATIVE_TITLE' | translate}} <span style="color:#810c15;font-weight:700;">{{'TEXT_SCHOLAR_NATIVE_MONEY' | translate}}</span> {{'TEXT_OF' | translate}} <span style="color:#810c15;font-weight:700;">{{'TEXT_TOPICA_NATIVE' | translate}}</span></p>
    <span class="text-center" style="display:block;">
      <a class="small radius button" style="margin-bottom:0" ng-click="gift.openNativeInfoModal()" translate="TEXT_LEARN_TOPICA_NATIVE"></a>
      <a class="small radius button" style="margin-bottom:0" ng-click="gift.openClaimScholarModal(profile)" translate="TEXT_GET_SCHOLAR_TOPICA_NATIVE"></a>
    </span>
  </div>
</div>