<div class="row">
  <div class="large-2 columns text-center">
    <img src="assets/img/tutorial/native-scholar.png" alt="" />
  </div>
  <div class="large-14 columns">
    <p>Chúc mừng, hôm nay bạn đã nhận được gói học bổng trị giá <span style="color:#810c15;font-weight:700;">1,000,000 VND</span> của <span style="color:#810c15;font-weight:700;">TOPICA Native</span></p>
    <span class="text-center" style="display:block;">
      <a class="small radius button" style="margin-bottom:0" ng-click="gift.openNativeInfoModal()">Tìm hiểu TOPICA Native</a>
      <a class="small radius button" style="margin-bottom:0" ng-click="gift.openClaimScholarModal(profile)">Nhận học bổng</a>
    </span>
  </div>
</div>