<div class="context-view" player-context-view></div>
<header class="player-header" player-header></header>
<div class="player-main" player-main>
  <!-- <div class="question" ng-class="questionScreen.type" welcome-question-screen question="question"></div> -->
  <div class="finish-screen" welcome-finish-screen></div>
  <!-- <div class="welcome-plaza-screen" welcome-plaza></div> -->
  <!-- <div class="claim-bonus-screen" claim-bonus-screen></div> -->
  <!-- <div class="dictionary-hint-screen" dictionary-hint-screen question="question"></div> -->
  <!-- <div class="intro-screen" intro-screen></div> -->
</div>
<footer class="player-footer" player-footer></footer>