<div class="distinct progress question-4 left" >
  <span class="ant jump-0"></span>
  <span class="nothing meter"></span>
  <span class="nothing meter"></span>
  <span class="nothing meter"></span>
  <span class="nothing meter"></span>
  <span class="nothing meter"></span>
  <span class="nothing meter"></span>
</div>
<div class="player-header-right">
  <welcome-quit-link quit-link-text="{{'TEXT_SKIP_TUTORIAL' | translate}}"></welcome-quit-link>
  <welcome-memo-coin memo-coin="5"></welcome-memo-coin>
</div>