<div class="buttons">
  <div class="left">
    <div class="grade">
      <span class="left icon-checkmark badge-big"></span>
      <h3>Chính xác</h3>
      <div class="clearfix">
        <a title class="radius button report">Báo lỗi</a>
        <span class="welcome-tooltip">
          <span class="tooltip-peg"></span>
          <span class="tooltip tip-right fade in">Lựa chọn báo lỗi và vui lòng góp ý cho Memo khi cảm thấy câu trả lời của bạn là đúng. Những góp ý của bạn sẽ giúp nội dung của Memo hoàn thiện hơn.</span>
        </span>
      </div>
    </div>
  </div>
  <div class="right">
    <a title="" class="radius button continue">Bắt đầu bài hướng dẫn</a>
  </div>
</div>