.new-player {

  .player-container {

    .carousel {
      .carousel-inner {
        position: relative;
        overflow: hidden;
        > .item {
          display: none;
          position: relative;
          text-align: center;
        }
        > .active {
          left: 0;
          display: block !important;
          @include animation(fadeIn 1s);
        }
      }
    }

    .player-main {
      min-height: 400px;
      padding-bottom: 40px;
    }

    .player-carousel {
      .player-carousel-slider {
        list-style: outside none none;
        min-height: 380px;
        margin: 0 -40px;
        position: relative;
        > li {
          margin: 0;
          width: 100%;
        }
      }

    }
  }
}

.page-referral{
  height: 470px;
  background: none repeat scroll 0% 0% #FFF;
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-top: 20px;
  overflow-y: scroll;
  .student-memo{
    background: #999;
    min-height: 380px;
    p{
      color: #fff;
      text-align: center;
      font-size: 23px;
      font-weight: 600;
      padding-top: 10px;
      strong{
        font-size: 35px;
      }
    }
    .date-time-memo{
      text-align: center;
      margin-top: 235px;  
      span{
        font-size: 28px;
        color: #fff;
        font-weight: 600;
      }
      p{
        margin: 0px;
        padding: 0;
        font-size: 18px;
        font-weight: normal;
      }
    }
  }
  .friend-join {
    margin-top: 40px;
    .left-friend{
      text-align: right;
    }
    .right-friend {
      text-align:left;
    }
    p{
      font-size: 44px;
      color: #000;
      strong{
        color: #810C15;
      }
    }
  }
  .communication{
    text-align: center;
    margin-top: 40px;
    p{
      margin-bottom: 0;
      color: #810c15;
      font-size: 24px;
      font-weight: 600;
    }
    hr{
      margin-bottom: 0;
      margin-top: 5px;
      height: 3px;
      background: #810c15;
    }
  }
  .native-topica{
    margin-top: 40px;
    .left-na-img{
      text-align: center;
      span{
        color: #810c15;
        font-size: 19px;
        font-weight: 600;
        margin-top: 10px;
      }
      p{
        text-align: left;
        padding-left: 10px;
        color: #666;
        font-size: 15px;
        margin-bottom: 0;
        margin-top: 15px;
      }
    }
    .center-na-img{
      text-align: center;
      span{
        color: #810c15;
        font-size: 19px;
        font-weight: 600;
        margin-top: 10px;
      }
      p{
        text-align: left;
        padding-left: 35px;
        color: #666;
        font-size: 15px;
        margin-bottom: 0;
        margin-top: 15px;
      }
    }
    .right-na-img{
      text-align: center;
      span{
        color: #810c15;
        font-size: 19px;
        font-weight: 600;
        margin-top: 10px;
      }
      p{
        text-align: left;
        padding-left: 10px;
        color: #666;
        font-size: 15px;
        margin-bottom: 0;
        margin-top: 15px;
      }
    }
  }
  .topica-ads{
    margin-top: 30px;
    .topica-edu span{
      color: #810C15;
      font-weight: 600;
      font-size: 16px;
      margin-left: 10px;
    }
    p{
      font-size: 15px;
      color: #666;
      margin-left: 10px;
    }
  }
  .logo-funding{
    margin-top: 10px;
    .join-dev{
      text-align: left;
      margin-bottom: 40px;
      a.button-dev{
        color: #000;
        font-size: 14px;
        font-weight: 600;
        height: 80px;
        line-height: 80px;
        background: #999;
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 5px;
      }
    }
    .logo-ads{
      text-align: right;
    }
  }
}
