.new-player {
  .player-container {
    footer {
      &.player-footer {
        &.fail {
          background-color: $warning-bg-color;
          min-height: 140px;
          margin-top: -60px;
          .grade {
            color: $warning-font-color;
            h3 {
              color: $warning-font-color;
            }
            .button {
              background-color: $warning-bg-color;
              border: 2px solid $white;
              color: $warning-font-color;
            }
          }
        }
      }
    }
  }
}