<div class="quit-exam-modal-inner">
  <div class="large-5 columns text-center">
    <div class="warning-sign"></div>
  </div>
  <div class="large-11 columns">
    <div class="row">
      <div class="warning-text">
        Bài làm của bạn sẽ bị mất. Bạn có chắc chắn muốn thoát không?
      </div>
    </div>
    <div class="row">
      <div class="large-8 columns">
        <a title="" class="radius button quit-button expand" ng-click="quit()">Thoát</a>
      </div>
      <div class="large-8 columns">
        <a title="" class="radius button close-button expand" ng-click="close()">Tiếp tục làm bài</a>
      </div>
    </div>
  </div>
</div>