<div class="row container">
  <div class="row">
    <div class="large-4 columns large-centered text-center" ng-controller="LoginModalCtrl">
      <a href="" class="large radius register button" ng-click="openRegister()">BẮT ĐẦU NGAY</a>
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns large-centered text-center">
      <h3>MEMO - Ứng dụng học tiếng Anh duy nhất trên các nền tảng smartphone.</h3>
    </div>
  </div>
  <div class="row">
    <div class="large-11 columns large-centered">
      <ul class="inline-list download">
        <li class="ios">
          <a ng-href="/downloads?platform=iOS&code_chanel=WEB_IOS&redirect=https://itunes.apple.com/us/app/topica-memo-hoc-ngoai-ngu/id932238745?ls%3D1&mt%3D8" target="_blank"></a>
        </li>
        <li class="android">
          <a ng-href="/downloads?platform=Android&code_chanel=WEB_ANDROID&redirect=https://play.google.com/store/apps/details?id%3Dvn.topica.memo" target="_blank"></a>
        </li>
        <li class="window">
          <a ng-href="/downloads?platform=windows_phone&code_chanel=WEB_WINPHONE&redirect=http://www.windowsphone.com/vi-vn/store/app/topica-memo/be98f876-f3e6-49a2-991d-78782129c557" target="_blank"></a>
        </li>
      </ul>
    </div>
  </div>
</div>