<top-bar>
  <ul class="large-4 columns title-area">
    <!-- Title Area -->
    <li class="name">
      <a href="/"><img src="assets/img/landingpage/1-logo.png"></a>
    </li>
  </ul>
  <top-bar-section>
  <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-form">
        <div class="login-box">
          <div class="login-box_social-login">
            <i id="facebook-login" class="webicon facebook" style="margin-bottom:5px;"></i>
            <i id="google-login" class="webicon googleplus" style="margin-bottom:5px;"></i>
          </div>
          <div class="login-box_middle">hoặc</div>
          <div class="login-box_local-login">
            <form id="login-form">
              <div class="login-box_local-login_username">
                <input class="radius" type="text" name="username" placeholder="Tên đăng nhập/email">  
              </div>
              <div class="login-box_local-login_password">
                <input class="radius" type="password" name="password" placeholder="Mật khẩu">
              </div>
              <div class="login-box_local-login_submit">
                <button class="tiny radius button">Đăng nhập</button>  
              </div>
            </form>
          </div>
        </div>
      </li>
    </ul>
  </top-bar-section>
</top-bar>