<top-bar>
  <ul class="large-4 columns title-area">
    <!-- Title Area -->
    <li class="name">
      <a href="/"><img src="assets/img/landingpage/1-logo.png"></a>
    </li>
  </ul>
  <top-bar-section>
  <!-- Right Nav Section -->
    <ul class="right">
      <li style="color: #999999;margin-top: 20px;margin-right: 0px" ng-show="showLoginCTA()">
        <span translate="TEXT_SHOW_LOGIC_CTA"></span>
      </li>
      <li>
        <input class="username" ng-model="user.username" type="text" placeholder="Tên đăng nhập/email">
      </li>
      <li>
        <input class="password" ng-model="user.password" type="password" placeholder="Mật khẩu">
      </li>
      <li class="login">
        <a href="" title="" class="small radius button login-button" ng-click="login()">Đăng nhập</a>
      </li>
      <li class="text">
        <span>hoặc</span>
      </li>
      <li class="facebook-login">
        <a href="" title="" class="small radius button social-login-button facebook" ng-click="FbLogin()"></a>
      </li>
      <li class="google-login">
        <a href="" title="" class="small radius button social-login-button google" ng-click="GLogin()"></a>
      </li>
    </ul>
    <ul class="right">
      <li><u><a style="color: #999999;background-color: #fff;font-size: 12px;top: 20px;left: 420px;position: relative;" ng-click="openForgetPassword()">Quên mật khẩu</a></u></li>
      <li><p class="error"style="margin-bottom: 5px;margin-top: 0px;font-size: 16px">{{error}}</p></li>
     </ul>
  </top-bar-section>
</top-bar>