<div class="row container" ReferralLandingpageCtrl>
  <div class="large-6 large-offset-1 sa">
    <div class="row">
      <h2 class="sa-1">Học tiếng Anh</h2>
      <h2 class="sa-2">Miễn phí trọn đời</h2>
    </div>
    <div class="row" ng-controller="LoginModalCtrl">
      <a href="" class="large radius button register" ng-click="openRegister()">BẮT ĐẦU NGAY</a>
    </div>
    <div class="row">
      <ul class="inline-list">
        <li><a ng-href="/downloads?platform=Android&code_chanel=WEB_ANDROID&redirect=https://play.google.com/store/apps/details?id%3Dvn.topica.memo" class="android" target="_blank"></a></li>
        <li><a ng-href="/downloads?platform=iOS&code_chanel=WEB_IOS&redirect=https://itunes.apple.com/us/app/topica-memo-hoc-ngoai-ngu/id932238745?ls%3D1&mt%3D8" class="ios" target="_blank"></a></li>
        <li><a ng-href="/downloads?platform=windows_phone&code_chanel=WEB_WINPHONE&redirect=http://www.windowsphone.com/vi-vn/store/app/topica-memo/be98f876-f3e6-49a2-991d-78782129c557" class="window" target="_blank"></a></li>
      </ul>
    </div>
  </div>
  <div class="large-8 large-offset-1 slider-landingpage">
    <div class="ant"></div>
  <div class="chat chat-1"></div>
  <div class="chat chat-2"></div>
  <div class="chat chat-3"></div>
    </div>
</div>
