<div class="row container" ReferralLandingpageCtrl>
  <div class="large-6 large-offset-1 sa">
    <div class="row">
      <h2 class="sa-1">Học nhiều ngôn ngữ</h2>
      <h2 class="sa-2">Miễn phí trọn đời</h2>
    </div>
    <div class="row" ng-controller="LoginModalCtrl">
      <a href="" class="large radius button register" ng-click="openRegister()">BẮT ĐẦU NGAY</a>
    </div>
    <div class="row">
      <ul class="inline-list">
        <li><a ng-href="" class="android" ng-click="toPlayStore()"></a></li>
        <li><a ng-href="" class="ios" ng-click="toAppStore()"></a></li>
        <li><span ng-href="" class="window"></span></li>
      </ul>
    </div>
<!--     <div class="row">
      <div class="advertise-box">
        <img src="assets/img/gift.png" class="left"/>
        <a click-event-track tracking-data='{"campaign":"REFERRAL","code_channel":"ADS_NON_E8","screen":"1"}' ng-href="/referral" class="large-12 small memo-button">HỌC BỔNG ĐÓN XUÂN</a>
        <p class="advertise-box-text">Tham gia với TOPICA Memo trước ngày 20/1 để nhận học bổng luyện nói tiếng Anh với thầy Tây tại TOPICA Native trị giá lên tới:</p>
        <p class="advertise-box-text big red text-center">900,000đ</p>
        <p class="advertise-box-text small text-center"><i>(Áp dụng cho tất cả người dùng của TOPICA Memo)</i></p>
      </div>
    </div> -->
  </div>
  <div class="large-8 large-offset-1 slider-landingpage slider-landingpage">
    <div class="slider-landingpage">
      <input type="radio" id="control1" name="controls" checked="checked"/>
      <label for="control1"><span></span></label>
      <input type="radio" id="control2" name="controls"/>
      <label for="control2"></label>
      <div class="sliderinner-landing">
    <ul>
      <li>
      <img src="assets/img/landingpage/1-ant.png" alt="">
     </li>
     <li>
       <div class="advertise-box">
        <img src="assets/img/gift.png" class="left"/>
        <a click-event-track tracking-data='{"campaign":"REFERRAL","code_channel":"ADS_NON_E8","screen":"1"}' ng-href="/referral" class="large-12 small memo-button">HỌC BỔNG ĐÓN XUÂN</a>
        <p class="advertise-box-text">Tham gia với TOPICA Memo trước ngày 20/1 để nhận học bổng luyện nói tiếng Anh với thầy Tây tại TOPICA Native trị giá lên tới:</p>
        <p class="advertise-box-text big red text-center">900,000đ</p>
        <p class="advertise-box-text small text-center"><i>(Áp dụng cho tất cả người dùng của TOPICA Memo)</i></p>
      </div>
     </li>
      </ul>
      </div>
    </div>
  </div>
  <!-- <div class="ant"></div>
  <div class="chat chat-1"></div>
  <div class="chat chat-2"></div>
  <div class="chat chat-3"></div> -->
</div>
