<div class="row container" ReferralLandingpageCtrl>
  <div class="large-6 large-offset-1 sa">
    <div class="row">
      <h2 class="sa-1">Học nhiều ngôn ngữ</h2>
      <h2 class="sa-2">Miễn phí trọn đời</h2>
    </div>
    <div class="row" ng-controller="LoginModalCtrl">
      <a href="" class="large radius button register" ng-click="openRegister()">BẮT ĐẦU NGAY</a>
    </div>
    <div class="row">
      <ul class="inline-list">
        <li><a ng-href="/downloads?platform=Android&code_chanel=WEB_ANDROID&redirect=https://play.google.com/store/apps/details?id%3Dvn.topica.memo" class="android"></a></li>
        <li><a ng-href="/downloads?platform=iOS&code_chanel=WEB_IOS&redirect=https://itunes.apple.com/us/app/topica-memo-hoc-ngoai-ngu/id932238745?ls%3D1&mt%3D8" class="ios"></a></li>
        <li><span ng-href="" class="window"></span></li>
      </ul>
    </div>
  </div>
  <div class="large-8 large-offset-1 slider-landingpage">
        <div id="container">
    <div id="content-slider">
        <div id="slider">
            <div id="mask">
            <ul>
            <li id="first" class="firstanimation">
            <a href="#">
            <img src="assets/img/landingpage/Ants.png" alt=""/>
            </a>
            </li>
            <li  style="margin-top:50px;" id="second" class="secondanimation">
            <a click-event-track tracking-data='{"campaign":"REFERRAL","code_channel":"ADS_NON_E8","screen":"1"}' ng-href="/referral" class="large-12 small">
            <img src="assets/img/landingpage/Ants-campaign.png" alt=""/>
            </a>
            </li>
            
            <li id="third" class="thirdanimation">
            <a href="#">
            <img src="assets/img/landingpage/Ants.png" alt=""/>
            </a>
            </li>
                        
            <li  style="margin-top:50px;" id="fourth" class="fourthanimation">
            <a click-event-track tracking-data='{"campaign":"REFERRAL","code_channel":"ADS_NON_E8","screen":"1"}' ng-href="/referral" class="large-12 small">
            <img src="assets/img/landingpage/Ants-campaign.png" alt=""/>
            </a>
            </li>
                        
            <li id="fifth" class="fifthanimation">
            <a href="#">
            <img src="assets/img/landingpage/Ants.png" alt=""/>
            </a>
            </li>
            </ul>
            </div>
            <div class="progress-bar"></div>
        </div>
    </div>
</div>
    </div>
</div>
