<div class="row container">
  <h3>Học thỏa thích trên <span class="pressed">MỌI THIẾT BỊ</span></h3>
  <div class="tablet"></div>
  <div class="laptop"></div>
  <div class="phone"></div>
  <div class="row">
    <div class="large-6 columns large-offset-9 sa">
      <div class="row">
        <h4 class="title">Cách tốt nhất để học ngoại ngữ</h4>
        <p>Học mọi lúc mọi nơi, không chỉ trên máy tính. Với Memo, bạn có thể luyện tập ngay trên smartphone và tablet.</p>
      </div>
      <div class="row text-center">
        <a href="" class="medium radius button register">Bắt đầu ngay</a>
      </div>
      <ul class="inline-list download">
        <li class="ios">
          <a href="">
            <span></span>
            <p>Tải miễn phí</p>
          </a>
        </li>
        <li class="android">
          <a href="" class="android">
            <span></span>
            <p>Tải miễn phí</p>
          </a>
        </li>
        <li class="window">
          <a href="" class="window">
            <span></span>
            <p>Sắp ra mắt</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
