<div class="row container">
  <h3>Học thỏa thích trên <span class="pressed">MỌI THIẾT BỊ</span></h3>
  <div class="tablet"></div>
  <div class="laptop"></div>
  <div class="phone"></div>
  <div class="row">
    <div class="large-6 columns large-offset-9 sa">
      <div class="row">
        <h4 class="title">Cách tốt nhất để học tiếng Anh</h4>
        <p>Học mọi lúc mọi nơi, không chỉ trên máy tính. Với Memo, bạn có thể luyện tập ngay trên smartphone và tablet.</p>
      </div>
      <div class="row text-center" ng-controller="LoginModalCtrl">
        <a href="" class="medium radius button register" ng-click="openRegister()">BẮT ĐẦU NGAY</a>
      </div>
      <ul class="inline-list download">
        <li class="ios">
          <a ng-href="/downloads?platform=iOS&code_chanel=WEB_IOS&redirect=https://itunes.apple.com/us/app/topica-memo-hoc-ngoai-ngu/id932238745?ls%3D1&mt%3D8" target="_blank"></a>
        </li>
        <li class="android">
          <a ng-href="/downloads?platform=Android&code_chanel=WEB_ANDROID&redirect=https://play.google.com/store/apps/details?id%3Dvn.topica.memo" target="_blank"></a>
        </li>
        <li class="window">
          <a ng-href="/downloads?platform=windows_phone&code_chanel=WEB_WINPHONE&redirect=http://www.windowsphone.com/vi-vn/store/app/topica-memo/be98f876-f3e6-49a2-991d-78782129c557" target="_blank"></a>
        </li>
      </ul>
    </div>
  </div>
</div>