<div class="row container">
  <div class="large-3 columns large-offset-1 total">
    <div class="row">
      <div class="large-4 columns">
        <span class="icon"></span>
      </div>
      <div class="large-12 columns">
        <p class="text">Tổng số người dùng</p>
        <p class="number">{{users.total}}</p>
      </div>
    </div>
  </div>
  <div class="large-3 columns ios">
    <div class="row">
      <div class="large-4 columns">
        <span class="icon"></span>
      </div>
      <div class="large-12 columns">
        <p class="text">Số người dùng iOS</p>
        <p class="number">{{users.ios}}</p>
      </div>
    </div>
  </div>
  <div class="large-3 columns android">
    <div class="row">
      <div class="large-4 columns">
        <span class="icon"></span>
      </div>
      <div class="large-12 columns">
        <p class="text">Số người dùng Android</p>
        <p class="number">{{users.android}}</p>
      </div>
    </div>
  </div>
  <div class="large-3 columns window">
    <div class="row">
      <div class="large-4 columns">
        <span class="icon"></span>
      </div>
      <div class="large-12 columns">
        <p class="text">Số người dùng Windows Phone</p>
        <p class="number">{{users.wp}}</p>
      </div>
    </div>
  </div>
  <div class="large-3 columns pc">
    <div class="row">
      <div class="large-4 columns">
        <span class="icon"></span>
      </div>
      <div class="large-12 columns">
        <p class="text">Số người dùng PC</p>
        <p class="number">{{users.pc}}</p>
      </div>
    </div>
  </div>
</div>
