.home-page, .plaza {
  &.main {
    margin: 20px 20px 10px 20px;
    width: 1326px;
    height: 478px;
    background-color: $white;
    .head {
      padding: 15px;
      @include grid-row;
      margin: 0;
      min-height: 40px;
      .head-left {
        @include grid-column($columns: 8);
        float: left;
        padding: 5px;
        .course-icon {
          @include grid-column($columns: 1);
          padding: 0;
          margin-right: 10px;
          text-align: center;
        }
        .course-title {
          @include grid-column($columns: 6);
          padding: 0;
          top: 50%;
          font-size: 24px;
          text-align: center;
        }
        .course-option {
          @include grid-column($columns: 3);
          padding: 0;
          text-align: center;
        }
      }
      .head-right {
        float: right;
      }
    }
    .content {
      padding: 15px;
      margin: 0;
      .island {
        width: 195px;
        height: 375px;
        background-color: #f2f3f4;
      }
    }
  }
}

@import "placement-test-modal";
@import "share-code-modal";
@import "components/banner/banner";
