.share-code-modal {
  @include grid-row;
  border: none;
  outline: none;
  max-width: 740px;
  min-height: 480px !important;
  .share-code-modal-inner {
    @include grid-column($columns: 16, $collapse: true);
    padding-top: 20px;
    .share-code-image-wrapper {
      @include grid-row;
    }
    .share-code-content {
      @include grid-row;
      margin-top: 20px;
    }
    .share-code-error-message {
      font-style: italic;
      color: $warning-font-color;
      font-size: .9rem;
      margin-bottom: 0;
    }
  }
}