<section class="app" plaza-main>
  <div class="row main home-page plaza">
    <div class="main-left" main-left></div>
    <div class="main-center">
      <div class="container">
        <div class="row">
        </div>
        <div class="row">
          <h4 class="title vptl">Vật phẩm trợ lực</h4>
          <a href="/" title="" class="back-lesson">Quay lại bài học</a>
          <hr />
        </div>
        <div class="row items">
          <div class="large-16 columns">
            <div class="row plaza-item" ng-repeat="item in plaza.items | filter:powerUpSectionFilter">
              <div class="large-3 columns">
                <img class="plaza-item-image" ng-src="{{item.icon_url}}" alt="" />
              </div>
              <div class="large-9 columns">
                <div class="plaza-item-intro">
                  <span class="plaza-item-name" ng-bind="item.name"></span>
                  <p class="plaza-item-desc" ng-bind="item.info"></p> 
                </div>  
              </div>
              <div class="large-4 columns vp-tl">
                <div class="plaza-item-buttons">
                  <!-- before: ng-click="buy(item._id)" -->
                  <a title="" class="radius button expand" ng-if="item.can_buy" ng-click="confirm()">
                    <span class="price" ng-bind="item.price"></span><span class="memo-coin-badge small"></span>
                  </a>
                  <a title="" class="radius button expand disabled" ng-if="!item.can_buy" tooltip="{{item.message}}" tooltip-placement="top" ng-click="confirm()">
                    <span class="price" ng-bind="item.price"></span><span class="memo-coin-badge small"></span>
                  </a>
                </div>
              </div>
              </div>
            </div>
          </div>
          <div class="row">
        </div>
        <div class="row">
        </div>
        <div class="row">
          <h4 class="title vptl">Vật phẩm đặc biệt</h4>
          <hr />
        </div>
        <div class="row items">
          <div class="large-16 columns">
            <div class="row plaza-item" ng-repeat="item in plaza.items | filter:specialSectionFilter" ng-class="{'special': !item.is_unlocked}">
              <div class="large-3 columns">
                <img class="plaza-item-image" ng-src="{{item.icon_url}}" alt="" />
              </div>
              <div class="large-9 columns">
                <div class="plaza-item-intro">
                  <span class="plaza-item-name" ng-bind="item.name"></span>
                  <p class="plaza-item-desc" ng-bind="item.info"></p> 
                </div>  
              </div>
              <div class="large-4 columns vp-tl">
                <div class="plaza-item-buttons">
                  <a title="" class="radius button expand" ng-if="item.can_buy" ng-click="buy(item._id)">
                    <span class="price" ng-bind="item.price"></span><span class="memo-coin-badge small"></span>
                  </a>
                  <a title="" class="radius button expand disabled" ng-if="!item.can_buy" tooltip="{{item.message}}" tooltip-placement="top">
                    <span class="price" ng-bind="item.price"></span><span class="memo-coin-badge small"></span>
                  </a>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="main-right" main-right></div>
  </div>
</section>