/*
Error: Invalid CSS after "..."player-header"": expected "{", was ";"
        on line 799 of /home/namct/web-client/app/assets/scss/components/player/_player.scss
        from line 21 of /home/namct/web-client/app/assets/scss/app.scss

794:   margin-bottom: 0px;
795: }
796: =======
797: >>>>>>> 2fc861a9992f3ed3071749e9eee57324ec641f6f
798: 
799: @import "player-header";
800: @import "player-main";
801: @import "player-footer";

Backtrace:
/home/namct/web-client/app/assets/scss/components/player/_player.scss:799
/home/namct/web-client/app/assets/scss/app.scss:21
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:1096:in `tok!'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:641:in `block'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:635:in `ruleset'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/engine.rb:299:in `to_tree'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:313:in `block in visit_import'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/stack.rb:88:in `block in with_import'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/stack.rb:88:in `with_import'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/tree/root_node.rb:20:in `render'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/engine.rb:268:in `render'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:328:in `block in watch'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:252:in `call'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:254:in `call'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/home/namct/.rvm/gems/ruby-2.1.5/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...\"player-header\"\": expected \"{\", was \";\"\A         on line 799 of /home/namct/web-client/app/assets/scss/components/player/_player.scss\A         from line 21 of /home/namct/web-client/app/assets/scss/app.scss\A \A 794:   margin-bottom: 0px;\A 795: }\A 796: =======\A 797: >>>>>>> 2fc861a9992f3ed3071749e9eee57324ec641f6f\A 798: \A 799: @import \"player-header\";\A 800: @import \"player-main\";\A 801: @import \"player-footer\";"; }
