/*
Error: File to import not found or unreadable: components/header.
       Load paths:
         /home/hainp/Workspaces/Development/Topica/memo-app/app/vendors/foundation/scss
         /home/hainp/Workspaces/Development/Topica/memo-app/app/vendors/foundation/scss
         Compass::SpriteImporter
         /home/hainp/Workspaces/Development/Topica/memo-app/app/assets/scss
         /home/hainp/.rvm/gems/ruby-2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets
         /home/hainp/.rvm/gems/ruby-2.1.0/gems/animate-0.2.beta.0/stylesheets
         /home/hainp/.rvm/gems/ruby-2.1.0/gems/ceaser-easing-0.7/stylesheets
        on line 7 of /home/hainp/Workspaces/Development/Topica/memo-app/app/assets/scss/app.scss

2: @import "foundation";
3: @import
4:     "components/animation",
5:     "components/container",
6:     "components/landingpage/landingpage",
7:     "components/header",
8:     "components/font";
9: 
10: // Or selectively include components
11: // @import
12: //   "foundation/components/accordion",

Backtrace:
/home/hainp/Workspaces/Development/Topica/memo-app/app/assets/scss/app.scss:7
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/import_node.rb:66:in `rescue in import'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/import_node.rb:45:in `import'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:301:in `visit_import'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `map'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/root_node.rb:20:in `render'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/engine.rb:268:in `render'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:491:in `update_stylesheet'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `each'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:469:in `on_file_changed'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:328:in `block in watch'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/vendor/listen/lib/listen/listener.rb:252:in `call'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/vendor/listen/lib/listen/adapter.rb:254:in `call'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: components/header.\A        Load paths:\A          /home/hainp/Workspaces/Development/Topica/memo-app/app/vendors/foundation/scss\A          /home/hainp/Workspaces/Development/Topica/memo-app/app/vendors/foundation/scss\A          Compass::SpriteImporter\A          /home/hainp/Workspaces/Development/Topica/memo-app/app/assets/scss\A          /home/hainp/.rvm/gems/ruby-2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets\A          /home/hainp/.rvm/gems/ruby-2.1.0/gems/animate-0.2.beta.0/stylesheets\A          /home/hainp/.rvm/gems/ruby-2.1.0/gems/ceaser-easing-0.7/stylesheets\A         on line 7 of /home/hainp/Workspaces/Development/Topica/memo-app/app/assets/scss/app.scss\A \A 2: @import \"foundation\";\A 3: @import\A 4:     \"components/animation\",\A 5:     \"components/container\",\A 6:     \"components/landingpage/landingpage\",\A 7:     \"components/header\",\A 8:     \"components/font\";\A 9: \A 10: // Or selectively include components\A 11: // @import\A 12: //   \"foundation/components/accordion\","; }
