/*
Error: Undefined variable: "$gold".
        on line 39 of /home/hainp/Workspaces/Development/Topica/memo-app/app/assets/scss/components/header/_header.scss
        from line 7 of /home/hainp/Workspaces/Development/Topica/memo-app/app/assets/scss/app.scss

34: //   "foundation/components/reveal",
35: //   "foundation/components/side-nav",
36: //   "foundation/components/split-buttons",
37: //   "foundation/components/sub-nav",
38: //   "foundation/components/switch",
39: //   "foundation/components/tables",
40: //   "foundation/components/tabs",
41: //   "foundation/components/thumbs",
42: //   "foundation/components/tooltips",
43: //   "foundation/components/top-bar",
44: //   "foundation/components/type",

Backtrace:
/home/hainp/Workspaces/Development/Topica/memo-app/app/assets/scss/components/header/_header.scss:39
/home/hainp/Workspaces/Development/Topica/memo-app/app/assets/scss/app.scss:7
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/script/tree/variable.rb:49:in `_perform'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/script/tree/node.rb:50:in `perform'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:384:in `visit_prop'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:420:in `map'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:420:in `map'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:420:in `map'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:420:in `map'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:420:in `map'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:315:in `map'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:88:in `block in with_import'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:88:in `with_import'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `map'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/tree/root_node.rb:20:in `render'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/engine.rb:268:in `render'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:491:in `update_stylesheet'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `each'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:293:in `watch'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/compass-1.1.0.alpha.3/lib/compass/sass_compiler.rb:46:in `watch!'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/compass-1.1.0.alpha.3/lib/compass/commands/watch_project.rb:41:in `perform'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/compass-1.1.0.alpha.3/lib/compass/commands/base.rb:18:in `execute'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/compass-1.1.0.alpha.3/lib/compass/commands/project_base.rb:19:in `execute'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/compass-1.1.0.alpha.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/compass-1.1.0.alpha.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/compass-1.1.0.alpha.3/bin/compass:30:in `block in <top (required)>'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/compass-1.1.0.alpha.3/bin/compass:44:in `call'
/home/hainp/.rvm/gems/ruby-2.1.0/gems/compass-1.1.0.alpha.3/bin/compass:44:in `<top (required)>'
/home/hainp/.rvm/gems/ruby-2.1.0/bin/compass:23:in `load'
/home/hainp/.rvm/gems/ruby-2.1.0/bin/compass:23:in `<main>'
/home/hainp/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `eval'
/home/hainp/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$gold\".\A         on line 39 of /home/hainp/Workspaces/Development/Topica/memo-app/app/assets/scss/components/header/_header.scss\A         from line 7 of /home/hainp/Workspaces/Development/Topica/memo-app/app/assets/scss/app.scss\A \A 34: //   \"foundation/components/reveal\",\A 35: //   \"foundation/components/side-nav\",\A 36: //   \"foundation/components/split-buttons\",\A 37: //   \"foundation/components/sub-nav\",\A 38: //   \"foundation/components/switch\",\A 39: //   \"foundation/components/tables\",\A 40: //   \"foundation/components/tabs\",\A 41: //   \"foundation/components/thumbs\",\A 42: //   \"foundation/components/tooltips\",\A 43: //   \"foundation/components/top-bar\",\A 44: //   \"foundation/components/type\","; }
