<div class="question-inner">
  <div class="small-10 small-centered columns listen">
    <div class="row">
      <h4 class="name" translate="TEXT_LISTEN_QUESTION_TITLE"></h4>
    </div>
    <div class="row">
      <div class="small-16 small-centered columns">
	<div class="row">
		<div class="row columns answer" style="margin-left: 50px;">

		<span class="speaker" ng-click="speaker.play()"></span>
	    <span class="slow-speaker" ng-click="speaker.slowPlay()"></span>
	    <div class="row" style="margin-left: 5px;">
	      <input id="myText" type="text" ng-model="answer" placeholder="{{'TEXT_PLACEHOLDER_LISTEN_QUESTION' | translate}}"/>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
