<div class="question-inner">
  <div class="small-8 small-centered columns judge question">
    <div class="row">
      <h4 class="name">Đánh dấu <u>tất cả</u> đáp án đúng</h4>
    </div>
    <div class="row">
      <div class="small-8 columns content">
	{{judge.question.question}}
      </div>
      <div class="small-8 columns answers">
	<div class="row" ng-repeat="option in judge.question.options">
          <label><input type="checkbox" value="{{option}}" ng-click="updateUserAnswer(option)" ng-model="option" ng-required="userAnswer.length == 0">{{option}}</label>
	</div>	
      </div>
    </div>
  </div>
</div>
