<div class="row">
  <div class="large-8 columns last-screen-left">
    <img class="last-screen-img" src="assets/img/last-screen-image.png" />
  </div>
  <div class="large-8 columns last-screen-right">
    <div class="row content">
      <span>{{question.last_screen.text}}</span>
      <!-- <span ng-bind-html="testText"></span> -->
    </div>
    <div class="row toolbar">
      <div class="columns small-6">
        <a class="small radius button continue-button" href="/">Để sau</a>
      </div>
      <div class="columns small-10">
        <a class="small radius button" ng-click="openPopupScholarshipInLastScreen(question)">{{question.last_screen.button_text}}</a>
      </div>
    </div>
  </div>
</div>