.post-detail {
  @include grid-row;
  padding-top: 42px;
  .main-left {
    @include grid-column($columns: 12);
  }
  .main-right {
    @include grid-column($columns: 4);
  }
  .panel {
    @include panel($bg: $white);
    width: 100% !important;
    border: 0;
    border-radius: 20px;
  }
  .post-detail-panel {
    @include grid-row;
    padding: 30px;
    .post-info-header {
      @include grid-row;
      margin-bottom: 15px;
      .right {
        margin-right: 10px;
      }
      .left {
        margin-left: 10px;
        margin-top: 10px;
      }
      .title {
        padding: 10px;
        font-weight: normal;
      }
      .return-button {
        color: #333;
        font-size: 1rem;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
      .follow-button {
        border: 2px solid $gold;
        color: $primary-color;
        font-size: 1rem;
        font-weight: bold;
        padding: 10px 25px;
        background-color: $white;
        &:hover {
          background-color: $gold;
        }
      }
    }
    .post-info-inner {
      @include grid-row;
      padding: 10px;
      .post-avatar {
        @include grid-column($columns: 2);
        border-radius: 50%;
        height: 60px;
        width: 60px;
        padding: 0;
      }
      .post-content-wrapper {
        @include grid-column($columns: 14);
        padding: 0 20px 20px 20px;
        .post-header {
          padding: 5px;
          color: $primary-color;
          font-size: 16px;
          .title {
            font-weight: bold;
            color: #333;
          }
          .created-time {
            color: $steel;
          }
        }
        .post-inner {
          font-size: 16px;
          padding: 15px 0 10px 0;
          .post-content {
            white-space: pre-line;
          }
        }
        .post-toolbar {
          .total-vote {
            padding-right: 20px;
            font-size: 16px;
            margin-top: 10px;
          }
          .vote-up {
            margin-right: 15px;
            margin-top: 10px;
            background-size: contain;
            width: 25px;
            height: 25px;
            &.normal {
              background: url("assets/img/vote-icon/vote-up-icon.png") no-repeat;
            }
            &.active {
              background: url("assets/img/vote-icon/vote-up-icon-2.png") no-repeat;
            }
          }
          .vote-down {
            margin: 15px 15px 0 0;
            background-size: contain;
            width: 25px;
            height: 25px;
            &.normal {
              background: url("assets/img/vote-icon/vote-down-icon.png") no-repeat;
            }
            &.active {
              background: url("assets/img/vote-icon/vote-down-icon-2.png") no-repeat;
            }
          }
          .facebook.button {
            margin-bottom: 0;
            background: -webkit-linear-gradient(#4c69ba, #3b55a0);
            border: none;
            -webkit-border-radius: 2px;
            color: #fff;
            cursor: pointer;
            font-weight: bold;
            height: 20px;
            line-height: 20px;
            padding: 0;
            text-shadow: 0 -1px 0 #354c8c;
            white-space: nowrap;
            font-size: 11px;
          }
          .icon-facebook-wrapper {
            background: transparent;
            border: 0;
            color: inherit;
            cursor: pointer;
            font: inherit;
            font-weight: bold;
            margin: -1px;
            outline: none;
            padding: 0;
            text-shadow: 0 -1px 0 #354c8c;
          }
          .facebook-share-text {
            padding: 0 5px 0 0;
            position: relative;
            vertical-align: top;
          }
        }
      }
      .commenter-avatar {
        border-radius: 50%;
        @include grid-column($columns: 2);
        width: 15px;
        height: 15px;
      }
    }
    .comment-info-header {
      @include grid-row;
      padding: 10px;
      margin-bottom: 20px;
      .right {
        margin-right: 10px;
      }
      left {
        margin-left: 10px;
      }
      .title {
        padding: 10px;
        margin-bottom: 0;
      }
    }
    .comment-info-inner {
      @include grid-row;
      .comments {
        .comment {
          list-style: none;
          .parent-comments {
            .parent-comment {
              .parent-comment-inner {
                @include grid-column($columns: 16);
                border-top: solid 1px #ccc;
                @include grid-row;
                padding-bottom: 20px;
                .comment-avatar {
                  border-radius: 50%;
                  @include grid-column($columns: 3);
                  width: 60px;
                  height: 60px;
                  padding: 0;
                  margin: 20px 10px 0 0;
                }
                .comment-content {
                  @include grid-column($columns: 12);
                  padding: 20px 0 0 0;
                  .comment-content-top {
                    text-align: left;
                    .comment-name-text {
                      color: $primary-color;
                      font-size: 16px;
                    }
                  }
                }
                .comment-content-mid {
                  .comment-content-text {
                    font-size: 16px;
                  }
                }
                .comment-content-toolbar {
                  @include grid-column($columns: 16);
                  padding-right: 10px;
                  .total-vote {
                    padding-right: 20px;
                    font-size: 16px;
                  }
                  .vote-up {
                    margin-right: 15px;
                    background-size: contain;
                    width: 25px;
                    height: 25px;
                    &.normal {
                      background: url("assets/img/vote-icon/vote-up-icon.png") no-repeat;
                    }
                    &.active {
                      background: url("assets/img/vote-icon/vote-up-icon-2.png") no-repeat;
                    }
                  }
                  .vote-down {
                    margin: 7px 15px 0 0;
                    background-size: contain;
                    width: 25px;
                    height: 25px;
                    &.normal {
                      background: url("assets/img/vote-icon/vote-down-icon.png") no-repeat;
                    }
                    &.active {
                      background: url("assets/img/vote-icon/vote-down-icon-2.png") no-repeat;
                    }
                  }
                  .reply {
                    padding-right: 10px;
                  }
                }
              }
            }
          }
          .child-comments {
            list-style: none;
            .child-comment {
              .chil-comment-inner {
                margin-left: 20px;
              }
            }
          }
        }
      }
    }
    .comment-editor {
      @include grid-column($columns: 16);
      border-top: solid 1px #ccc;
      .comment-editor-left {
        @include grid-column($columns: 2);
        .comment-editor-avatar {
          border-radius: 50%;
          @include grid-column($columns: 3);
          width: 60px;
          height: 60px;
          padding: 0;
          margin: 20px 10px 0 0;
        }
      }
      .comment-editor-right {
        @include grid-column($columns: 14);
        padding: 20px 0 0 0;
        .comment-editor-text-area {
          resize: none;
          border-radius: 10px;
        }
        .comment-editor-text-area {
          .text-area {
            resize: none;
            border-radius: 10px;
            margin-bottom: 10px;
          }
        }
        .comment-editor-toolbar {
          .send-button {
            margin-right: 10px;
            font-size: 16px;
            padding: 12px 40px 12px 40px;
            color: $white;
            background-color: $success-color;
            &:hover {
              background-color: scale-color($success-color, $lightness: -20%);
            }
          }
          .cancel-button {
            font-size: 16px;
            padding: 11px 40px 10px 40px;
            border: 2px solid $iron;
            color: $warning-font-color;
            background-color: $white;
            &:hover {
              background-color: scale-color($white, $lightness: -20%);
            }
          }
        }
      }
    }
  }
  .search-panel {
    @include grid-row;
    padding: 20px;
    list-style: none;
    background: none repeat scroll 0px 0px #FFF;
    border-radius: 10px;
    text-align: center;
    .search-input {
      border: 1px solid #CCC;
      border-radius: 5px;
      color: #CCC;
      height: 35px;
      width: 100%;
      padding-left: 5px;
      margin-bottom: 0px;
    }
    .search-box {
      @include grid-row;
      .search-box-inner {
        // @include grid-column($columns: 16);
        min-height: 35px;
        position: relative;
        input {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          margin-bottom: 0;
        }
        .button {
          position: absolute;
          top: 0px;
          right: 0px;
          height: 35px;
          width: 40px;
          padding: 0;
          border-top-left-radius: 0;
          margin-bottom: 0;
          border-bottom-left-radius: 0;
          min-height: 35px;
          background: url("assets/img/search.png") 13px no-repeat #810c15;
        }
      }
    }
  }
  .channel-follow {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    .title {
      padding: 20px 0 20px 0;
    }
    .course-language ul {
      margin-left: 0;
      list-style: none;
      li {
        margin-bottom: 20px;
        a {
          color: #333;
        }
      }
    }
  }
}