<div class="skill-row skill-block-{{row.length}}" ng-repeat="row in skillTree track by $index">
  <div ng-if="!row.isCheckpoint && skill != 'null'"
    class="{{(skill.finished_lesson == skill.lessons.length) ? 'success' : ''}} {{(skill.theme_color === '#99cc00' ? 'green' : (skill.theme_color === '#ff4444' ? 'red' : 'blue'))}} {{skill.unlocked ? 'unlocked' : 'locked'}} skill skill-{{skill.order + 1}} skill-offset-{{skill.isFirstInRow ? $index : 0}}" ng-repeat="skill in row track by $index">
    <a href="{{skill.unlocked ? '/skill/' + skill._id : ''}}" target="_self">
      <div class="icon" style="background-image: url('{{skill.unlocked ? iconSets.unlocked : iconSets.locked}}');"></div>
      <div class="name">{{skill.slug}}</div>
      <div class="level level-4">
        <span ng-if="skill.finished_lesson != skill.lessons.length">{{skill.finished_lesson || 0}} / {{skill.lessons.length || 0}}</span>
        <div ng-if="skill.finished_lesson == skill.lessons.length" class="strength-bar"></div>
      </div>
    </a>
  </div>
  <!-- <div class="row collapse" ng-if="(!row.isCheckpoint && row[1].order == 27 && row[1].unlocked && !popupClicked)" style="clear: both">
    <div class="large-12 columns large-centered" style="padding:10px;border: 2px solid #ccc;border-radius:10px;margin-top:20px;cursor:pointer;" click-event-track tracking-data='{"memoEnabled":true,"eventName":"skill tree education ad click"}' tracking-callback='goToPlaza();'>
      <div class="row collapse">
        <div class="large-3 columns text-left"><img ng-src="assets/img/tutorial/native-scholar.png" /></div>
        <div class="large-13 columns text-left">Vốn từ vựng của bạn đã tốt rồi đó. Mua ngay gói học bổng luyện nói Tiếng Anh từ 8h sáng đến 24h đêm!</div>
      </div>
    </div>
  </div> -->
  <a ng-if="row.isCheckpoint && (row[0].remaining_test_times == 0)" class="disabled secondary test-out hex-memo-button" style="padding-right:15px;padding-left:15px;">
    <i class="icon-lock"></i>
    {{row[0].title}}
  </a>
  <a ng-if="row.isCheckpoint && (row[0].remaining_test_times > 0)" ng-href="{{'checkpoint/' + row[0].row}}" class="secondary test-out hex-memo-button" tooltip="Làm bài kiểm tra về kiến thức của tất cả các kĩ năng phía trên để nhanh chóng vượt qua những kĩ năng đó" tooltip-placement="right" style="padding-right:15px;padding-left:15px;">
    <i class="icon-lock"></i>
    {{row[0].title}}
  </a>
</div>