<div class="welcome-plaza-screen-inner">
  <div class="plaza-items">
    <h3 class="title">Vật phẩm trợ lực</h3>
    <div class="plaza-item">
      <div class="plaza-item-image">
        <img src="assets/img/health_potion.png" />
      </div>
      <div class="plaza-item-intro">
        <span class="plaza-item-name">Bình hồi máu</span>
        <p class="plaza-item-desc">Cho phép bạn có thêm một máu trong trường hợp bạn đã mất hết máu trong một bài học.</p>
      </div>
      <div class="plaza-item-buttons">
        <a title="" class="radius button expand">
        <span class="price">1</span><span class="memo-coin-badge small"></span>
        </a>
      </div>
    </div>
    <div class="plaza-item">
      <div class="plaza-item-image">
        <img src="assets/img/tutorial/lucky-star.png" />
      </div>
      <div class="plaza-item-intro">
        <span class="plaza-item-name">Ngôi sao may mắn</span>
        <p class="plaza-item-desc">Nếu đặt cược 7 MemoCoin, học bài 7 ngày liên tiếp, bạn sẽ được 14 MemoCoin.</p>
      </div>
      <div class="plaza-item-buttons">
        <a title="" class="radius button expand disabled" tooltip="Bạn thiếu 2 MemoCoin để mua vật phẩm." tooltip-placement="top">
          <span class="price">7</span><span class="memo-coin-badge small"></span>
        </a>
      </div>
    </div>
    <div class="plaza-item">
      <div class="plaza-item-image">
        <img src="assets/img/tutorial/progress-test.png" />
      </div>
      <div class="plaza-item-intro">
        <span class="plaza-item-name">Bài kiểm tra</span>
        <p class="plaza-item-desc">Thực hiện Bài kiểm tra trình độ tiếng Anh để đo lường trình độ hiệu quả tiếng Anh của bạn!</p>
      </div>
      <div class="plaza-item-buttons">
        <a title="" class="radius button expand disabled"><span class="price">10</span><span class="memo-coin-badge small"></span></a>
      </div>
    </div>
  </div>
  <div class="plaza-items">
    <h3 class="title">Vật phẩm đặc biệt</h3>
    <div class="plaza-item">
      <div class="plaza-item-image">
        <img src="assets/img/tutorial/memo-tshirt.png" />
      </div>
      <div class="plaza-item-intro">
        <span class="plaza-item-name">Áo phông kiến Memo</span>
        <p class="plaza-item-desc">Bạn cần có 3 ngày combo trở lên để mua vật phẩm này.<br><a ng-controller="ClaimTshirtModalCtrl" ng-click="open()">Hướng dẫn mua và nhận vật phẩm</a></p>
      </div>
      <div class="plaza-item-buttons">
        <a title="" class="radius button expand disabled"><span class="price">20</span><span class="memo-coin-badge small"></span></a>
      </div>
    </div>
    <div class="plaza-item special">
      <div class="overlay"></div>
      <div class="plaza-item-image">
        <img src="assets/img/tutorial/native-scholar.png" />
      </div>
      <div class="plaza-item-intro">
        <span class="plaza-item-name">Học bổng TOPICA Native</span>
        <p class="plaza-item-desc">Bạn cần có 5 ngày combo trở lên để mở khóa vật phẩm này.<br><a ng-controller="NativeScholarModalCtrl" ng-click="open()">Hướng dẫn mua và nhận vật phẩm</a></p>
      </div>
      <div class="plaza-item-buttons">
        <a title="" class="radius button expand disabled"><span class="price">30</span><span class="memo-coin-badge small"></span></a>
      </div>
    </div>
  </div>
</div>