<section class="app">
  <div class="setting-page">
    <div class="main-left">
      <div class="container">
        <section class="setting-notification">
          <div class="row">
            <h3 class="title left" translate="TEXT_LANGUAGE"></h3>
            <a class="small radius button right save-change" ng-click="saveChanges()" translate="BTN_SAVE_CHANGES"></a>
          </div>
          <div class="row">
            <div class="large-10 columns large-centered">
              <div class="row">
                <div class="large-4 columns" translate="TEXT_SELECT_COURSE"></div>
                <div class="large-12 columns">
                  <select ng-model="course" ng-options="course.name for course in userCourses">
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="large-4 columns"></div>
                <div class="large-12 columns">
                  <a ng-href="/course" class="small-16 secondary memo-button" translate="BTN_VIEW_COURSE"></a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="main-right">
      <side-nav></side-nav>
      <app-version></app-version>
      <div google-ads-width="260px" google-ads-height="260px" google-ads-client="ca-pub-6371733042680225" google-ads-slot="3807930192" google-ads></div>
    </div>
  </div>
</section>