html, body {
    min-width: rem-calc(1120);
}

.full {
    display: block;
    float: left;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.header {
    display: block;
    float: left;
    min-width: $row-width;
}

.top-bar {
    min-width: $row-width;
}

.container {
    display: block;
    position: relative;
}

.facebook.button{
    background: #1f518b;
    &:hover {
    }
}

.google.button {
    background: #eb4a24;
    &:hover {
    }
}

.facebook.button, .google.button, .login.button {
    font-size: 1em;
}