.weakest-word-detail {
  @include grid-row;
  padding-top: 42px;
  .main-left {
    @include grid-column($columns: 11);
  } 
  .main-right {
    @include grid-column($columns: 5);
  }
  .panel {
    @include panel($bg: $white);
    width: 100% !important;
    border: 0;
    border-radius: 20px;
  }
  .weakest-word-panel{ 
    @include grid-row;
    padding: 30px; 
    .title {
      @include grid-row;
      padding: 10px;
      font-size: 24px;
      color: $oil;
    }
    .discusion {
      padding: 10px 10px 30px 10px;
      font-size: 16px;
      color: $oil;
    }
    .content {
      @include grid-column($columns: 16);
      @include grid-row;
      padding: 30px 10px 20px 10px;
      color: $oil;
      .word {
        @include grid-column($columns: 3);
        .title {
          font-size: 16px;
          text-align: left;
        }
        .content {
          font-size: 16px;
          color: $steel;
          &:hover {
            background-color: $smoke;
          }
        }
      }
      .skill {
        @include grid-column($columns: 3);
        .title {
          font-size: 16px;
          text-align: center;
        }
        .content {
          font-size: 16px;
          color: $steel;
          &:hover {
            background-color: $smoke;
          } 
        }
      }
      .time {
        @include grid-column($columns: 5);
        .title {
          font-size: 16px;
          text-align: center;
        }
        .content {
          font-size: 16px;
          color: $steel;
          &:hover {
            background-color: $smoke;
          }
        }
      }
      .strengthen {
        @include grid-column($columns: 5);
        .title {
          font-size: 16px;
          text-align: center;
        }
        .content {
          font-size: 16px;
          color: $steel;
          &:hover {
            background-color: $smoke;
          }
        }
      }
    }
  }
  .weakest-word-info-panel{
    @include grid-row;
    padding: 30px;
    .header {
      font-size: 16px;
      padding-bottom: 40px;
      .title {
        color: $oil;
      }
    }
    .content {
      @include grid-column($columns: 16);
      @include grid-row;
      padding-bottom: 20px;
      .speaker {
        @include grid-column($columns: 8);
        background: url("assets/img/lesson-speaker.png") no-repeat;
        background-size: cover;
        display: inline-block;
        height: 40px;
        width: 40px;
        cursor: pointer;
      }
      .word {
        @include grid-column($columns: 8);
        font-size: 24px;
        color: $oil;
      }
    }
    .description {
      @include grid-column($columns: 16);
      .description-left {
        @include grid-column($columns: 8);
        padding: 0 10px 0 10px;
        .traslation {
          .title {
            font-size: 16px;
            color: $aluminum;
          }
          .content {
            border-top: 1px solid $aluminum;
            font-size: 16px;
            color: $oil;
            padding: 5px 0 40px 0;
          }
        }
        .skill {
          .title {
            font-size: 16px;
            color: $aluminum;
          }
          .content {
            border-top: 1px solid $aluminum;
            font-size: 16px;
            color: $oil;
            padding: 5px 0 40px 0;
          }
        }
      }
      .description-right {
        @include grid-column($columns: 8);
        padding: 0 10px 0 10px;
        .strengthen {
          .title {
            font-size: 16px;
            color: $aluminum;
          }
          .content {
            border-top: 1px solid $aluminum;
            font-size: 16px;
            color: $oil;
            padding: 5px 0 40px 0;
            &.level-01 {
              background: url("assets/img/weakest-word-icon/level-01.png") no-repeat;
              background-size: contain;
              height: 20px;
            }
            &.level-02 {
              background: url("assets/img/weakest-word-icon/level-02.png") no-repeat;
              background-size: contain;
              height: 20px;
            }
            &.level-03 {
              background: url("assets/img/weakest-word-icon/level-03.png") no-repeat;
              background-size: contain;
              height: 20px;
            }
            &.level-04 {
              background: url("assets/img/weakest-word-icon/level-04.png") no-repeat;
              background-size: contain;
              height: 20px;
            }
          }
        }
      }
      .description-bottom {
        @include grid-column($columns: 8);
        @include grid-row;
        .title {
          font-size: 16px;
          color: $aluminum;
        }
        .content {
          border-top: 1px solid $aluminum;
          font-size: 16px;
          color: $oil;
          padding: 5px 0 40px 0;
        }
      }
    }
  }
}