.weakest-word {
  @include grid-row;
  padding-top: 42px;
  .main-left {
    @include grid-column($columns: 11);
    .weakest-word-panel {
      padding: 30px;  
      @include grid-row;
      .total-word {
        padding-top: 10px;
      }
      table {
        @include grid-row;
        margin-top: 20px;
        border:none;
        // thead {
        //   tr {
        //     th {
        //       min-width: 150px;
        //     }
        //   }
        // }
        tbody {
          margin-top: 15px;
          tr.word {
            border-bottom:  solid 1px #ccc;
            cursor: pointer;
            .word-text {
              span {
                color: #666;
                border-bottom: dotted 2px #ccc;
              }
              &:hover .translation {
                display: block;
              }
            }
            &:hover {
              background: $smoke;
            }
            .translation {
              border: 1px solid #CCC;
              border-radius: 5px;
              position: absolute;
              padding: 10px;
              margin-top: -29px;
              margin-left: 18px;
              background: #fff;
              display: none;
              span {
                font-weight: 600;
              }
            }
            .level-1 {
              background: url("assets/img/weakest-word-icon/strength-level-01.png") left no-repeat;
            }
            .level-2 {
              background: url("assets/img/weakest-word-icon/strength-level-02.png") left no-repeat;
            }
            .level-3 {
              background: url("assets/img/weakest-word-icon/strength-level-03.png") left no-repeat;
            }
            .level-4 {
              background: url("assets/img/weakest-word-icon/strength-level-04.png") left no-repeat;
            }
          }
        }
      }
    }
    .weakest-word-footer {
      margin-top: 20px;
    }
  }	
  .main-right {
    @include grid-column($columns: 5);
    .weakest-word-panel {
      margin-top: 0;
      padding: 30px; 
      ul.level-base-word {
        list-style: none;
        li {
          margin-left: 30px;
          margin-bottom: 10px;
          img {
            padding-right: 20px;
          }
        }
      }
    }
  }
  .panel {
    @include panel($bg: $white);
    width: 100% !important;
    border: 0;
    border-radius: 20px;
  }
}