.weakest-word {
  @include grid-row;
  padding-top: 42px;
  .main-left {
    @include grid-column($columns: 11);
    .weakest-word-panel {
      padding: 30px;  
      @include grid-row;
      .total-word {
        padding-top: 10px;
      }
      table {
        @include grid-row;
        margin-top: 20px;
        border:none;
        tbody {
          margin-top: 15px;
          tr.word {
            border-bottom:  solid 1px #ccc;
            cursor: pointer;
            .word-text {
              span {
                color: #666;
                border-bottom: dotted 2px #ccc;
              }
            }
            &:hover {
              background: $smoke;
            }
            .translation {
              border: solid 1px #ccc;
            }
          }
        }
      }
    }
  }	
  .main-right {
    @include grid-column($columns: 5);
    .weakest-word-panel {
      margin-top: 0;
      padding: 30px; 
      ul.level-base-word {
        list-style: none;
        li {
          margin-left: 30px;
          margin-bottom: 10px;
          img {
            padding-right: 20px;
          }
        }
      }
    }
  }
  .panel {
    @include panel($bg: $white);
    width: 100% !important;
    border: 0;
    border-radius: 20px;
  }
}