<section class="app new-player">
  <div class="player-inner entercode" referral-entercode-ctrl>
  <div class="row">
    <div class="large-8 columns left-slider">
      <span>HƯỚNG DẪN THAM DỰ</span>
      <div class="slider-entercode">
        <div class="all-slider">
        <div class="arrow-of-slider">
          <div class="arrow-pre-slider"><a ng-click="slide.prev()"><img src="assets/img/referral/arrow_pre.png"></a></div>
          <div class="slide">
            <div class="slide-img"><img src="{{image}}" alt=""/></div>
          </div>
          <div class="arrow-next-slider"><a ng-click="slide.next()"><img src="assets/img/referral/arrow_next.png"></a></div>
        </div>
        <div class="button-of-slider">
          <div ng-repeat="item in images track by $index" class="button-slider-entercode" ng-class="{active:indexActive == $index}" ng-click="slide.goTo($index)"><strong>{{$index + 1}}</strong></div>
        </div>
        </div>
      </div>
      <div class="infor-question">
        <h4>Thông tin liên quan</h4>
        <a ng-click="readme(1)">Giới thiệu Topica Native</a>
        <a ng-click="readme(2)">Hướng dẫn tham dự chương trình</a>
        <a ng-click="readme(3)">Cách thức xác minh tài khoản</a>
        <a ng-click="readme(4)">Hướng dẫn cách sử dụng học bổng</a>
        <a ng-click="readme(5)">Giá trị quy đổi học bổng</a>
        <a ng-click="readme(6)">Khiếu nại, liên hệ</a>
      </div>
    </div>
    <div class="large-8 columns right-infor">
      <span>Thông tin cá nhân</span>
      <div class="code-user">
        <div class="avatar-memo">
          <img src="{{user.url_avatar}}" alt="" ng-class="{true: 'display', false: 'hidden'}[user.url_avatar != '']" >
          <img src="assets/img/profile-avatar-big.png" alt='' ng-class="{true: 'display', false: 'hidden'}[user.url_avatar == '']">
          <div class="memo-user">
            <p>{{user.username}}</p>
            <span>{{user.level_title}}</span>
          </div>
        </div>
        <div class="clear"></div>
        <div class="code-share">
          <p>Đã mời được:</p>
          <span>{{invite_count}} bạn</span>
        </div>
        <div class="code-share code-share-2">
          <p>Số ngày combo:</p>
          <span>{{combo_days}} ngày</span>
        </div>
        <div class="code-share code-share-3">
          <p>Code chia sẻ:</p>
          <a class="create-code">{{code}}</a>
          <a class="question-hover" tooltip="Code để gửi bạn bè"><img src="assets/img/referral/q.png" alt=""></a>
        </div>
        <div class="share-social">
          <p>Chia sẻ mã code {{code}} tới những người bạn của mình nhé!</p>
          <a title="" facebook-share-button share-type="{{FBShare.shareType}}" share-data="{{FBShare.shareData}}">Share</a>
        </div>
        
        <!-- <div class="chart-memo">
          <img src="assets/img/referral/chart.png" alt="">
        </div> -->
        <div class="row">
          <canvas linechart="" options="chartOptions" data="expChart" width="230" height="150" style="width: 220px; height: 150px;"></canvas>
        </div>
        <div class="clear"></div>
        <div class="code-share code-share-4" ng-class="{true: 'display', false: 'hidden'}[isReferral == '']">
          <p>Nhập code từ bạn bè:</p>
          <form>
            <input type="text" name="" value="" placeholder="" ng-model='refCode'>
            <a href="" title=""><img src="assets/img/referral/arrow.png" alt="" ng-click='submitCode()'></a>

          </form>
          <a class="question-hover" title=""><img src="assets/img/referral/q.png" alt=""></a>
          <p class="code-error">{{error}}</p>
        </div>
        <div class="code-share code-share-4" ng-class="{true: 'display', false: 'hidden'}[isReferral != '']">
          <p>Bạn đã nhập code của {{userName}}!</p>
        </div>
        <div class="clear"></div>
        <div class="share-social">
          <p>Bạn đã mời được {{invite_count}} người bạn và thực hiện được {{combo_days}} ngày học liên tiếp!</p>
          <a class="confirm" title="" ng-click='verifyRewards()'>Xác minh</a>
        </div>
        <span class="border"></span>
        <div class="contact">
          <p>Nếu có thắc mắc bạn có thể liên hệ</p>
          <p>Hotline: <strong>0972 865 329</strong></p>
          <p>Email: <strong>memo@memo.edu.vn</strong></p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>