<section class="app new-player">
  <div class="player-inner entercode" referral-entercode-ctrl>
  <div class="row">
    <div class="large-8 columns left-slider">
      <span>HƯỚNG DẪN THAM DỰ</span>
      <div class="slider-entercode">
        
      </div>
      <div class="infor-question">
        <h4>Thông tin liên quan</h4>    
        <a href="" title="">Làm thế nào để xác minh được tôi đã mời bạn vè mình tham gia?</a>
        <a href="" title="">Thời gian nhận học bổng là đến bao giờ? có giới hạn số lượng học bổng được nhận hay không?</a>
        <a href="" title="">Tôi có thể sử dụng nhiều học bổng một lúc được không?</a>
        <a href="" title="" class="topica-active">Học bổng nhận được có áp dụng cho tất cả các khoá học của TOPICA NATIVE không?</a>
        <a href="" title="">Tôi phải đến đâu để nhận học bổng?</a>
        <a href="" title="">Tôi không sinh sống tại Hà Nội, TP. Hồ Chí Minh và Đà Nẵng thì sử dụng học bổng như thế nào?</a>
        <a href="" title="">Các hình thức thanh toán để nhận học bổng là như thế nào?</a>
        <a href="" title="">Tôi được mời tối đa bao nhiêu người tham gia?</a>
      </div>
    </div>
    <div class="large-8 columns right-infor">
      <span>Thông tin cá nhân</span>
      <div class="code-user">
        <div class="avatar-memo">
          <img src="assets/img/profile-avatar-big.png" alt="">
          <div class="memo-user">
            <p>Kiến Memo</p>
            <span>Kiến thợ</span>
          </div>
        </div>
        <div class="clear"></div>
        <div class="code-share">
          <p>Đã mời được:</p>
          <span>{{invite_count}} bạn</span>
        </div>
        <div class="code-share code-share-2">
          <p>Số ngày combo:</p>
          <span>{{combo_days}} ngày</span>
        </div>
        <div class="code-share code-share-3">
          <p>Code chia sẻ:</p>
          <a class="create-code" href="" title="">{{code}}</a>
          <a class="question-hover" href="#" title=""><img src="assets/img/referral/q.png" alt=""></a>
        </div>
        <div class="code-share code-share-4">
          <p>Nhập code từ bạn bè:</p>
          <form>
            <input type="text" name="" value="" placeholder="" ng-model='refCode'>
            <a href="" title=""><img src="assets/img/referral/arrow.png" alt="" ng-click='submitCode()'></a>
          </form>
          <a class="question-hover" href="#" title=""><img src="assets/img/referral/q.png" alt=""></a>
        </div>
        <p class="code-error">{{error}}</p>
        <!-- <div class="chart-memo">
          <img src="assets/img/referral/chart.png" alt="">
        </div> -->
        <div class="row">
          <canvas linechart="" options="chartOptions" data="expChart" width="220" height="150" style="width: 220px; height: 150px;"></canvas>
        </div>
        <div class="clear"></div>
        <div class="share-social">
          <p>Chia sẻ mã code {{code}} tới những người bạn của mình nhé!</p>
          <a href="#" title="" facebook-share-button shareType="shareType" shareData="shareData">Share</a>
        </div>
        <div class="clear"></div>
        <div class="share-social">
          <p>Bạn đã mời được {{invite_count}} người bạn và thực hiện được {{combo_days}} ngày học liên tiếp!</p>
          <a class="confirm" href="#" title="" ng-click='verifyRewards()'>Xác minh</a>
        </div>
        <span class="border"></span>
        <div class="contact">
          <p>Nếu có thắc mắc bạn có thể liên hệ</p>
          <p>Hotline: <strong>0972 865 329</strong></p>
          <p>Email: <strong>memo@memo.edu.vn</strong></p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>