<section class="app new-player">
  <div class="player-inner content-event">
<!--     <div class="header row">
    <img src="assets/img/referral/hd.png" alt="">
  </div> -->
  <div class="page-referral">
    <div class="student-memo row">
    <p class="top-english">CƠ HỘI GIÀNH HỌC BỔNG LUYỆN TIẾNG ANH GIAO TIẾP TRỊ GIÁ <strong> 900,000 </strong> VNĐ</p>
      <div class="date-time-memo">
        <p>DÀNH RIÊNG CHO HỌC VIÊN MEMO <br> Chương trình áp dụng từ 01 - 20/1/2015</p>
    </div>
</div>
<div class="row friend-join">
  <div class="large-8 columns left-friend">
    <img src="assets/img/referral/date.png" alt="">
</div>
<div class="large-8 columns right-friend">
    <p>để luyện nói với <br><strong>TOPICA NATIVE</strong></p>
</div>
</div>
<div class="row communication">
  <p>CAM KẾT TỰ TIN GIAO TIẾP TIẾNG ANH TRONG 3 THÁNG</p>
  <hr>
</div>
<div class="row native-topica">
  <div class="small-5 columns left-na-img">
    <img src="assets/img/referral/SA1.png" alt="">
    <span>TOPICA NATIVE MỞ LỚP <br> TỪ 8H SÁNG ĐẾN 12H ĐÊM</span>
    <p>Học thoả thích lên tới 16 ca mỗi ngày <br>
      Học trực tuyến bất kỳ đâu, chỉ cần <br> máy tính có nối mạng</p> 
  </div>
  <div class="small-6 columns center-na-img">
      <img src="assets/img/referral/SA2.png" alt="">
      <span>NATIVE CÓ <br> 100 GIÁO VIÊN ÂU MỸ ÚC</span>
      <p>Trải nghiệm âm giọng tiếng Anh <br> khác nhau
        Luyện nói online với giáo viên xịn</p>    
    </div>
    <div class="footer">
      <div class="row">
        <div class="large-16 columns button-register-foter">
          <a href="#" title="">Tham gia ngay</a>
          <a href="#" title="">Tìm hiểu về Topica Native</a>
        </div>
      </div>
    </div>
  </div>
</section>