<div class="row">
    <div class="large-4 columns" style="padding-left: 20px;padding-right: 20px">
        <button class="button-screen-2-center">
            <span class="circle">1</span>
            Topica Native là gì?
        </button>
        <button class="button-screen-2-center-disable disabled">
            <span class="circle-disable">2</span>
            Bảng giá và học bổng
        </button>
        <button class="button-screen-2-center-disable disabled">
            <span class="circle-disable">3</span>
            Cách thức thanh toán
        </button>
    </div>
    <div class="large-12 columns native-page2">

    </div>
</div>