<div class="large-12 columns payment-method">
  <div class="row headline">
    <h3 class="headline-text">BẢNG GIÁ VÀ HỌC BỔNG</h3>
  </div>
  <div class="row">
    <div class="large-16 columns content">
      <p>
      1. Học viên có thể nộp học phí trực tiếp tại văn phòng Hà Nội/ Hồ Chí Minh:<br>
      + Vp Hà Nội:    Tòa nhà A17, Số 17 Tạ Quang Bửu, Hai Bà Trưng, Hà Nội.<br>
      + Vp TP HCM:  Số 58/10 Thành Thái, Quận 10, TP. Hồ Chí Minh.<br>
      2. Học viên có thể chuyển khoản vào tài khoản của chương trình:<br>
      CHỦ TÀI KHOẢN: CÔNG TY CỔ PHẦN GIÁO DỤC TOPICA ENGLISH <br>
      </p>
      <p>
      1. Số tài khoản: 0011 0041 64283 <br>
      Ngân hàng: Ngoại thương Việt nam (Vietcombank) - chi nhánh Sở Giao Dịch Vietcombank.<br>
      2. Số tài khoản: 1221 0000 6875 53 <br>
      Ngân hàng: Đầu tư và phát triển Việt Nam (BIDV) - Chi nhánh Hà Thành <br>
      3. Số tài khoản: 6109 3206 <br>
      Ngân hàng: Việt Nam Thịnh Vượng (VPBank) - Chi nhánh Sở giao dịch. <br>
      4. Số tài khoản:  1912 8170 6360 12 <br>
      </p>
    </div>
  </div>
</div>