<div class="large-12 columns price-scholarship">
  <div class="row headline">
    <h3 class="headline-text">BẢNG GIÁ VÀ HỌC BỔNG</h3>
    <hr>
  </div>
  <div class="row">
    <div class="large-16 columns content">
      <p><span>Bạn có cơ hội nhận các mức học bổng như sau:</span><br>
      - Học liên tiếp 3 ngày, mời được 3 bạn: 500,000 VNĐ <br>
      - Học liên tiếp 3 ngày, mời được 6 bạn: 750,000 VNĐ <br>
      - Học liên tiếp 3 ngày, mời được 9 bạn: 850,000 VNĐ <br>
      - Học liên tiếp 3 ngày, mời được 12 bạn: 900,000 VNĐ <br>
      </p>
      <div>
        Học bổng đầu xuân sẽ được áp dụng gói học phí trị giá 3,000,000 của Topica Native. Bạn có thể lựa chọn một trong hai hình thức như sau:
        <p class="choose-learning">1. Gói học tùy chọn:</p>
        <p>
        Học viên trả tiền theo số lần học với giáo viên nước ngoài<br />
        Phù hợp với những người không thể học nhiều hoặc thường bận đột xuất<br />
        -120,000 VNĐ / ca học trực tuyến với Giáo viên nước ngoài<br />
        - 250,000 VNĐ / tháng cho các dịch vụ sau:<br />
        + Học trực tuyến từ vựng và ngữ pháp với giáo viên Việt Nam thỏa thích 16 tiếng mỗi ngày<br />
        + Được tư vấn liên tục lộ trình học tập từ giáo viên hướng dẫn riêng của mình<br />
        + Sử dụng học liệu tương tác với 600 bài học<br />
        - Tài khoản khoản chỉ dừng hoạt động khi hết tiền<br />
        </p>
        <p>
        <span class="choose-learning">2. Gói học thỏa thích:</span> <br>
        Học viên trả tiền theo thời gian học. Trong thời gian đó, bạn được học thỏa thích bao nhiêu cũng được<br>
        Phù hợp với những người muốn học cấp tốc nhiều trong hời gian ngắn<br>
        30 ngày 16 tiếng mỗi ngày <br>
        Được cung cấp đầy đủ các dịch vụ như gói học tùy chọn <br>
        Các thắc mắc về khóa học của <span class="choose-learning">Topica Native</span>, xin vui lòng liên hệ <span class="choose-learning">0972 865 329</span> hoặc email <span class="choose-learning">memo@memo.edu.vn</span>
        </p>
      </div>
    </div>
  </div>
</div>