<div class="large-12 columns price-scholarship">
  <div class="row headline">
    <h3 class="headline-text">BẢNG GIÁ VÀ HỌC BỔNG</h3>
  </div>
  <div class="row">
    <div class="large-16 columns content">
      <p>Bạn có cơ hội nhận các mức học bổng như sau:<br>
      - Học liên tiếp 3 ngày, mời được 3 bạn: 500,000 VNĐ <br>
      - Học liên tiếp 6 ngày, mời được 3 bạn: 500,000 VNĐ <br>
      - Học liên tiếp 9 ngày, mời được 3 bạn: 500,000 VNĐ <br>
      - Học liên tiếp 12 ngày, mời được 3 bạn: 500,000 VNĐ <br>
      Học bổng đầu xuân sẽ được áp dụng gói học phí trị giá 3,000,000 của Topica Native. Bạn có thể lựa chọn một trong hai hình thức như sau:
      </p>
      <div>
        <p>1. Gói học tuỳ chọn:</p>
        <p>
        Học viên trả tiền theo số lần học với giáo viên nước ngoài<br />
        Phù hợp với những người không thể học nhiều hoặc thường bị bận đột xuất<br />
        -120,000 VNĐ / ca học trực tuyến với Giáo viên nước ngoài<br />
        - 250,000 VNĐ / tháng cho các dịch vụ sau:<br />
        + Học trực tuyến từ vựng và ngữ pháp với giáo viên Việt Nam thỏa thích 16 tiếng mỗi ngày<br />
        + Được tư vấn liên tục lộ trình học tập từ giáo viên hướng dẫn riêng của mình<br />
        + Sử dụng học liệu tương tác với 600 bài học<br />
        - Tài khoản khoản chỉ dừng hoạt động khi hết tiền<br />
        </p>
        <p>
        2. Gói học thỏa thích:
        Học viên trả tiền theo thời gian học. Trong thời gian đó, bạn được học thỏa th́ch bao nhiêu cũng được<br>
        Phù hợp với những người muốn học cấp tốc nhiều trong hời gian ngắn<br>
        30 ngàx 16 tiếng mỗi ngày <br>
        Được cung cấp đầy đủ các dịch vụ như gói học tùy chọn <br>
        </p>
      </div>
    </div>
  </div>
</div>