<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <div class="title-question">
    <h2 class="title-question">Hướng dẫn tham dự chương trình</h2>
  </div>
  <div class="text-popup">

    <div class="slider-entercode">
      <div class="all-slider">
        <div class="arrow-of-slider">
          <div class="arrow-pre-slider"><a ng-click="slide.prev()"><img src="assets/img/referral/arrow_pre.png"></a></div>
          <div class="slide">
            <div class="slide-img"><img src="{{image}}" alt=""/></div>
            <div class="text"><p src="{{text}}"></p></div>
          </div>
          <div class="arrow-next-slider"><a ng-click="slide.next()"><img src="assets/img/referral/arrow_next.png"></a></div>
        </div>
        <div class="button-of-slider">
          <div ng-repeat="item in images track by $index" class="button-slider-entercode" ng-class="{active:indexActive == $index}" ng-click="slide.goTo($index)"><strong>{{$index + 1}}</strong></div>
        </div>
      </div>
    </div>

  </div>
</body>
</html>
