<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Bạn hãy lựa chọn vào nút Xác minh, Memo sẽ gửi ngay code xác minh để xác nhận
<br>
tài khoản Memo là của chính bạn. Code xác minh sẽ có dạng là XACMINH9999.
<br>
<br>
Hãy gửi tin nhắn tới xác nhận thông tin của bạn theo cú pháp sau:
<br>
XACMINH999 Tenban CMT
<br>
tới số điện thoại 091 853 77 99
<br>
<br>
Ví dụ: XACMINH999 Leducbinh 0123456789
<br>
<br>
Ngay khi nhận được tin nhắn, Memo sẽ xác nhận tài khoản học trên Topica Memo
<br>
của bạn và gửi ngay email hướng dẫn các hình thức thanh toán cho bạn!
</body>
</html>