<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="title-question">
  <h2 class="title-question">Hướng dẫn tham dự chương trình</h2>
</div>
<div class="text-popup">
Bạn hãy lựa chọn vào nút Xác minh, <span>Memo</span> sẽ gửi ngay code xác minh để xác nhận tài khoản <span>Memo</span> là của chính bạn. Code xác minh sẽ có dạng là <span>XMabc123 </span>(gồm XM và 6 kí tự từ a-z, A->Z, 0-9)
<br>
Hãy gửi tin nhắn tới xác nhận thông tin của bạn theo cú pháp sau: <br>
<span>XMabc123</span> Tenban CMT <br>
tới số điện thoại <span>091.853.77.99 </span><br> <br/>
Ví dụ: <span>XMabc123</span> Leducbinh <span>0123456789</span> <br> <br/>
Ngay khi nhận được tin nhắn, Memo sẽ xác nhận tài khoản học trên Topica Memo của bạn và gửi ngay email hướng dẫn các hình thức thanh toán cho bạn!
</div>
</body>
</html>