<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Học bổng sẽ được tính trực tiếp ngay khi bạn thực hiên việc đóng học phí cho Topica Native. Giá trị thấp nhất của học bổng là 500,000 VNĐ và Giá trị cao nhất của học bổng là 900,000 VNĐ.
<br>
<br>
Học bổng sẽ có giá trị từ ngày 1/1 - 20/1/2015 để đăng ký tham gia luyện nói cùng các khóa học của Topica Native trong 2015.
<br>
<br>
Các ưu đãi của học bổng không được áp dụng cùng lúc, hoặc kết hợp với bất kì chương trình khuyến mãi nào khác của Topica Native
<br>
Học bổng không có giá trị quy đổi ra tiền mặt
</body>
</html>