<div class="row" style="margin-top: 30px" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="text" style="font-size: 18px;color: #333333;text-align: center">
        <b>Chỉ cần 5 bước vô cùng đơn giản để nhận được Học bổng đón xuân cùng Topica Memo</b>
    </div>
    </div>
</div>

<div class="row" style="margin-top: 40px">
    <div class="columns image-screen-3-step-2" style="margin-right: 50px;position: absolute;right: 100px">
        <div class="text-screen-3-button">Bước 5</div>
    </div>
    <div class="columns image-screen-3-step-1" style="position: absolute;right: 350px">
        <div class="text-screen-3-button">Bước 4</div>
    </div>
    <div class="columns image-screen-3-step-1" style="position: absolute;right: 550px">
        <div class="text-screen-3-button">Bước 3</div>
    </div>
    <div class="columns image-screen-3-step-1" style="position: absolute;right: 750px">
        <div class="text-screen-3-button">Bước 2</div>
    </div>
    <div class="columns image-screen-3-step-1" style="position: absolute;right: 950px">
        <div class="text-screen-3-button">Bước 1</div>
    </div>
</div>
<div class="row" style="margin-right: 60px;margin-bottom: 30px;margin-top: 80px">
    <div class="columns-screen-3-first">
        Lựa chọn <b class="text-memo">Bắt đầu</b><br><b class="text-memo">tham dự</b>
    </div>
    <div class="columns-screen-3-second">
        Tạo <b class="text-memo">Code chia sẻ</b>
    </div>
    <div class="columns-screen-3-third">
        Giới thiệu cho ít<br>nhất <b class="text-memo">3 </b>người bạn<br>của mình
    </div>
    <div class="columns-screen-3-fourth">
        Học trong <b class="text-memo">3</b> ngày</b><br>liên tiếp với Topica<br>Memo
    </div>
    <div class="columns-screen-3-last">
        Giới thiệu cho ít<br>nhất <b class="text-memo">3 </b>người bạn<br>của mình
    </div>

</div>
</div>
<div class="row" style="margin-right: 60px;margin-bottom: 30px;margin-top: 95px">
    <div class="text-screen-3-center">
        Nếu có thắc mắc bạn có thể liên hệ
    </div>
    <div class="text-screen-3-center">
        Hotline: <b><span class="text-bold-screen-3-center">0972 865 329</span></b>
    </div>
    <div class="text-screen-3-center">
        Email: <b><span class="text-bold-screen-3-center">memo@memo.edu.vn</span></b>
    </div>
</div>
</div>