<div class="row" style="margin-top: 30px;margin-bottom: 40px">
    <div class="text" style="font-size: 24px;color: #000000;text-align: center">
        <b>Chỉ cần 5 bước vô cùng đơn giản để nhận được Học bổng đón xuân cùng Topica Memo</b>
    </div>
</div>
<div class="row-screen-3">
    <div class="image-screen-3-step-1">
        <div class="text-screen-3-button"><b>Bước 1</b></div>
    </div>
    <div class="image-screen-3-step-1">
        <div class="text-screen-3-button"><b>Bước 2</b></div>
    </div>
    <div class="image-screen-3-step-1">
        <div class="text-screen-3-button"><b>Bước 3</b></div>
    </div>
    <div class="image-screen-3-step-1">
        <div class="text-screen-3-button"><b>Bước 4</b></div>
    </div>
    <div class="image-screen-3-step-2">
        <div class="text-screen-3-button"><b>Bước 5</b></div>
    </div>
</div>
<div class="row-text-screen-3">
    <div class="columns-screen-3-first" style="margin-top: 18px">
        Lựa chọn <b class="text-memo">Bắt đầu</b><br><b class="text-memo">tham dự</b>
    </div>
    <div class="columns-screen-3-second" style="margin-left: 60px;margin-top: 18px">
        Tạo <b class="text-memo">Code chia sẻ</b>
    </div>
    <div class="columns-screen-3-third" style="margin-left: 40px;margin-top: 18px">
        Giới thiệu cho ít<br>nhất <b class="text-memo">3 </b>người bạn
        <br>của mình
    </div>
    <div class="columns-screen-3-fourth" style="margin-left: 60px;margin-top: 18px">
        Học trong <b class="text-memo">3</b> ngày</b><br>liên tiếp với Topica<br>Memo
    </div>
    <div class="columns-screen-3-last" style="margin-left: 30px;margin-top: 18px">
        Nhận học bổng<br>Topica Native trị giá<br><b class="text-memo">900.000 VNĐ</b>
    </div>

</div>
</div>
<div class="row" style="margin-right: 60px;margin-bottom: 30px">
    <div class="text-screen-3-center" style="margin-top: 95px;margin-right: 40px">
        Nếu có thắc mắc bạn có thể liên hệ
    </div>
    <div class="text-screen-3-center">
        Hotline: <b><span class="text-bold-screen-3-center" style="margin-right: 40px">0972 865 329</span></b>
    </div>
    <div class="text-screen-3-center">
        Email: <b><span class="text-bold-screen-3-center" style="margin-right: 40px">memo@memo.edu.vn</span></b>
    </div>
</div>
</div>