<article class="verify-reward-container">
  <div class="congrat">
    <p>Chúc mừng bạn đã đủ điều kiện đạt được học bổng <span class="text-bold">{{rewards_info.gift_value}}},000 VNĐ</span> từ <span class="text-bold">Topica Memo</span></p>
    <p>Code xác minh học bổng của bạn là <span class="text-bold">{{rewards_info.rewards_verification_code}}</span></p>
  </div>
  <div class="guide">
    <div>
      <p>Hãy gửi tin nhắn xác nhận thông tin của bạn theo cú pháp sau:</p>
    </div>
    <div class="sms-guide">
      <i class="icon-phone"></i>
      <p><span class="text-bold">{{rewards_info.rewards_verification_code}} HọTên SốChứngMinhND</span></p>
      <p>tới số điện thoại <span class="text-bold">091 853 77 99</span></p>
      <i class="icon-message"></i>
    </div>
    <div>
    </br>
      <p>Ví dụ: {{rewards_info.rewards_verification_code}} leducbinh 123456789</p>
    </div>
  </div>
  <div>
    <p>Ngay khi nhận được tin nhắn, Memo sẽ xác nhận tài khoản học trên Topica Memo của bạn và gửi ngay email hướng dẫn các hình thức thanh toán cho bạn!</p>
  </div>
  <div>
    <p>Mời thêm nhiều bạn nữa sẽ giúp bạn tích lũy được học bổng lớn hơn. Chi tiết các mức xem tại <a href="http://memo.edu.vn/referral">Topica Memo</a></p>
  </div>
</article>