.welcome {
  .intro-screen {
    display: flex;
    justify-content: center;
    .smiling-ant {
      display: inline-flex;
      width: 220px;
      height: 378px;
      background-image: url("assets/img/tutorial/smiling-ant.png");
    }
    .smiling-ant-textbox {
      background-image: url("assets/img/tutorial/smiling-ant-textbox.png");
      display: inline-flex;
      width: 330px;
      height: 127px;
      margin: 15px 0 0 -15px;
      padding: 15px;
    }
  }
}