<div class="small-16 small-centered columns success question">
  <div class="slider text-center" style="margin-top: -60px;">
    <input type="radio" id="control-1" name="controls" checked="checked"/>
    <label for="control-1"></label>
    <input type="radio" id="control-2" name="controls" ng-if="(question.bonus_money + question.bonus_money_full_heart) > 0"/>
    <label for="control-2" ng-if="(question.bonus_money + question.bonus_money_full_heart) > 0"></label>
    <input type="radio" id="control-3" name="controls" ng-if="question.num_affected_skill > 0"/>
    <label for="control-3" ng-if="question.num_affected_skill > 0"></label>
    <div class="slider-inner" style="max-height: 520px;">
      <ul>
        <li>
          <div class="slide slide-1">
            <h4><span>{{'TEXT_FINISH_LESSON' | translate}}</span> + {{question.finish_exam_bonus_exp}} XP</h4>
            <h4 ng-if="question.heart_bonus_exp > 0"><span>{{'TEXT_BONUS_HEART' | translate}}</span> + {{question.heart_bonus_exp}} XP</h4>
            <div class="row">
              <div class="large-8 columns col-left">
                <span class="lesson-finish-ant"></span>
              </div>
              <div class="large-8 columns col-right">
                <canvas linechart options="chartOptions" data="expChart" width="320" height="280">
                </canvas>
              </div>
            </div>
          </div>
        </li>
        <li ng-if="(question.bonus_money + question.bonus_money_full_heart) > 0">
          <div class="slide slide-2 reward">
            <h4 class="text-center"><span>{{'TEXT_GET_BONUS' | translate}}</span> {{question.bonus_money + question.bonus_money_full_heart}} Memo Coin!</h4>
            <div class="row">
              <div class="large-16 columns">
                <div class="big-memo-coin">
                  <div class="quantity">{{question.bonus_money + question.bonus_money_full_heart}}</div>
                </div>
                <div class="detail-box">
                  <div class="row item" ng-if="question.bonus_money > 0">
                    <div class="large-12 columns text"><span>{{'TEXT_AFFECTED_SKILL_TITLE' | translate}}</span> {{question.affected_skill.title}}</div>
                    <div class="large-4 columns quantity">{{question.bonus_money}}</div>
                  </div>
                  <div class="row item" ng-if="question.bonus_money_full_heart > 0">
                    <div class="large-12 columns text">{{question.bonus_money_full_heart_message}}</div>
                    <div class="large-4 columns quantity">{{question.bonus_money_full_heart}}</div>
                  </div>
                  <hr />
                  <div>
                    <span>{{'TEXT_TO_USE_MEMO_COIN' | translate}}</span>
                    <a ng-href="/plaza" translate="BTN_PLAZA"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li ng-if="question.num_affected_skill > 1">
          <div class="slide slide-3">
            <h4 class="text-center" translate="TEXT_FINISH_AFFECTED_SKILL_TITLE"></h4>
            <h4>{{question.affected_skill[0].title}}, {{question.affected_skill[1].title}}<span ng-if="question.num_affected_skill > 2">, {{question.affected_skill[2].title}}</span>
              <span ng-show="{{question.num_affected_skill && question.num_affected_skill > 3}}">
                <span>{{'TEXT_AND' | translate}}</span> {{question.num_affected_skill - 3}} <span>{{'TEXT_FINISH_AFFECTED_SKILL_TITLE' | translate}}</span>
              </span>
            </h4>
            <div class="row">
              <div class="large-16 columns">
                <div class="skill-row">
                  <div class="{{question.affected_skill[0].strength_gap >= 4 ? 'success' : ''}} {{(question.affected_skill[0].theme_color === '#99cc00' ? 'green' : (question.affected_skill[0].theme_color === '#ff4444' ? 'red' : 'blue'))}} skill skill-{{question.affected_skill[0].order + 1}}">
                    <div class="icon"></div>
                    <div class="name">{{question.affected_skill[0].slug}}</div>
                    <div class="level level-{{question.affected_skill[0].strength_gap}}">
                      <div class="strength-bar"></div>
                    </div>
                  </div>
                  <div class="{{question.affected_skill[1].strength_gap >= 4 ? 'success' : ''}} {{(question.affected_skill[1].theme_color === '#99cc00' ? 'green' : (question.affected_skill[1].theme_color === '#ff4444' ? 'red' : 'blue'))}} skill skill-{{question.affected_skill[1].order + 1}}">
                    <div class="icon"></div>
                    <div class="name">{{question.affected_skill[1].slug}}</div>
                    <div class="level level-{{question.affected_skill[1].strength_gap}}">
                      <div class="strength-bar"></div>
                    </div>
                  </div>
                  <div ng-if="question.num_affected_skill > 2" class="{{question.affected_skill[2].strength_gap >= 4 ? 'success' : ''}} {{(question.affected_skill[2].theme_color === '#99cc00' ? 'green' : (question.affected_skill[2].theme_color === '#ff4444' ? 'red' : 'blue'))}} skill skill-{{question.affected_skill[2].order + 1}}">
                    <div class="icon"></div>
                    <div class="name">{{question.affected_skill[2].slug}}</div>
                    <div class="level level-{{question.affected_skill[2].strength_gap }}">
                      <div class="strength-bar"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <p translate="TEXT_WEAKEST_WORD_HOOK"></p>
                </div>
                <div class="row">
                  <a href="" class="small radius facebook share button" translate="BTN_SHARE"></a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li ng-if="question.num_affected_skill == 1">
          <div class="slide slide-3">
            <h4 class="text-center">Bạn đã củng cố được kỹ năng</h4>
            <h4>{{question.affected_skill.title}}</h4>
            <div class="row">
              <div class="large-16 columns">
                <div class="skill-row">
                  <div class="{{question.affected_skill.strength_gap >= 4 ? 'success' : ''}} {{(question.affected_skill.theme_color === '#99cc00' ? 'green' : (question.affected_skill.theme_color === '#ff4444' ? 'red' : 'blue'))}} skill skill-{{question.affected_skill.order + 1}}">
                    <div class="icon"></div>
                    <div class="name">{{question.affected_skill.slug}}</div>
                    <div class="level level-{{question.affected_skill.strength_gap}}">
                      <div class="strength-bar"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <p>Cố giữ những thanh hiển thị độ mạnh luôn đầy vì qua thời gian các thanh sẽ giảm dần khi quên từ vựng</p>
                </div>
                <div class="row">
                  <a href="" class="small radius facebook share button">Chia sẻ</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>