<div class="question-inner">
  <h3 class="title">Dịch nội dung này</h3>
  <div class="question-translate">
    <div class="question-translate-cell">
      <div class="text-to-translate">
        <div class="translate-source">
          <span class="speaker" ng-click="speaker.play()" ng-if="question.normal_question_audio"></span>
          <span><bdi><span class="text" ng-repeat="token in questionScreen.translate_tokens track by $index"><span class="token" ng-if="!(token.isObjective || token.isSpecialObjective)" ng-class='{"punctuation": token.isPunctuation}'>{{token.text}}</span><span class="token" ng-if="token.isObjective || token.isSpecialObjective" dropdown-toggle="#token-dropdown-{{$index}}" ng-mouseover="showDefinitionDropdown(event=$event)" ng-mouseout="closeDefinitionDropdown(event=$event)" data-sound="{{token.sound}}" data-word-id="{{token._id}}" ng-class='{"objective": token.isObjective, "special-objective": token.isSpecialObjective}'>{{token.text}}</span><ul id="token-dropdown-{{$index}}" class="f-dropdown dropdown-definition">
            <li ng-repeat="def in token.definitions" class="definition">{{def}}</li>
          </ul></span></bdi></span>
        </div>
      </div>
    </div>
    <div class="question-translate-cell">
      <span class="icon icon-arrow-right"></span>
      <textarea name="" placeholder="Dịch sang tiếng Việt..." class="textarea-translate" ng-model="translatedText" tabindex="1"></textarea>
      <div class="submitted-text"></div>
      <div class="vkeyboard"></div>
    </div>
  </div>
</div>