<section class="job-main">
  <section class="main-left">
    <div class="panel">

      <div class="tabs" ng-controller="Tabs">
        <tabset vertical="false" type="navType">
          <tab class="tabs-heading" ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
            <ul class="jobs">
              <li class="job" ng-repeat="job in tab.data.jobs">
                <a href="" title="" class="title" ng-bind="job.title"></a>
                <span class="hot" ng-if="job.is_hot == true">HOT</span>
                <div class="description">
                  <p ng-bind="job.description"></p>
                </div>
                <div class="content" ng-repeat="content in tab.data.jobs">
                  <p ng-bind="job.content"></p>
                </div>
                <div class="working">
                  <span class="work-type" ng-bind="job.type"></span>
                  <span class="location" ng-bind="job.location"></span>
                </div>
              </li>
              <li class="job hot" ng-repeat="job in tab.data.hotJobs">
              </li>
            </ul>
          </tab>
        </tabset>
      </div>
    </div>
  </section>
  <section class="main-right">
   <section class="panel search-job-panel">
     <div class="search-job-title">
      <span translate="TEXT_SEARCH_JOB"></span>
    </div>
    <div class="search-job-toolbar">
      <input class="search-job" type="text" ng-model="jobSearch.keywords" ng-keydown="search(event=$event)" placeholder="{{'TEXT_PLACEHOLDER_SEARCH_JOB' | translate}}" />
    </div>
    <div class="filter-job-toolbar">	
      <input type="text" placeholder="{{'TEXT_PLACEHOLDER_SEARCH_JOB_BY_WORK' | translate}}" />
      <input type="text" placeholder="{{'TEXT_PLACEHOLDER_SEARCH_JOB_BY_SALARY' | translate}}" />
      <input type="text" placeholder="{{'TEXT_PLACEHOLDER_SEARCH_JOB_BY_LOCATION' | translate}}" />
    </div>
    <div>
      <a class="radius small button" translate="BTN_SEARCH" ng-click="searchJobs()"></a>
    </div>
  </section>
</section>
</section>