<section class="job-detail-main">
  <section class="main-left">
    <section class="panel job-detail-panel">  
      <div class="job-detail-header">
      	<div class="left">
            <a class="return-button" ng-href="/jobs">&lsaquo; {{'TEXT_LIST_JOB_TITLE' | translate}} </a>
          </div>
      </div> 
      <!-- Job Detail -->
      <div>
        <span class="job-position">[{{job.position}}]</span>
        <span class="job title" ng-bind="job.title"></span>
        <div class="description" ng-bind-html="job.description"></div>
      <div ng-bind-html="job.content"></div>
      </div>
      
    <!--  -->
    </section>
  </section>
  <section class="main-right">
    <section class="panel job-info-panel">
    	<div class="job-info-title">
    		<span translate="TEXT_JOB_INFORMATION_TITLE"></span>
    	</div>
    	<div class="job-info-content">
    		<div class="by_time">
    			<span ng-bind="job.type"></span>
    		</div>
    		<div class="by_location">
    			<span ng-bind="job.location"></span>
    		</div>
    		<div class="by_phone">
    			<span ng-bind="job.phone"></span>
    		</div>
    	</div>
    	<div class="job-apply-content" ng-if="!job.can_apply == '' || isAuthenticated();">
    		<div class="title">
    			<span translate="TEXT_APPLY_JOB_TITLE"></span>
    		</div>
    		<div class="apply-for-email">
    			<span class="title" translate="TEXT_APPLY_BY_EMAIL"></span>
    			<a class="email" href="mailto: memo@topica.edu.vn?subject=Ứng%20tuyển%20{{job.title}}&body=Xin%20chào%20quý%20công%20ty,%0A%0ATên%20tôi%20là:%0A%0ANgày%20sinh:%0A%0AĐịa%20chỉ:%0A%0ASố%20thoại:%0A%0ATôi%20đã%20đọc%20được%20thông%20tin%20tuyển%20dụng%20của%20TOPICA%20Memo%20và%20rất%20quan%20tâm%20đến%20vị%20trí%20{{job.title}}%0AVì%20vậy%20tôi%20gửi%20kèm%20theo%20CV%20của%20tôi%20để%20ứng%20tuyển%20vị%20trí%20này.%0A%0ATôi%20rất%20mong%20nhận%20được%20hồi%20đáp%20sớm%20từ%20phía%20TOPICA%20Memo.%0A%0AThân%20ái," target="_blank" ng-click="setGmail()" translate="TEXT_EMAIL_TO_APPLY_JOB"></a>
    		</div>
    		<div class="apply-for-hot-line">
    			<span class="title" translate="TEXT_APPLE_BY_HOT_LINE"></span>
    			<span class="hot-line" translate="TEXT_HOT_LINE_TO_APPLY_JOB"></span>
    		</div>
    	</div>
      <div class="job-apply-content" ng-if="!job.can_apply == '' || isAuthenticated();">
        <a class="small radius button" ng-click="applyForJob(job)" ng-show="job.can_apply">Ứng tuyển vị trí này</a>
        <a class="small radius button disable-button" ng-click="applyForJob(job)" ng-show="!job.can_apply">Đã ứng tuyển vị trí này</a>  
      </div>
      <div class="job-apply-content" ng-if="job.can_apply == '' && !isAuthenticated();">
        <span class="warning-text">Để ứng tuyển vị trí này, bạn cần có tài khoản tại TOPICA Memo</span>
        <a class="small radius button" ng-click="openRegister()">Đăng ký</a>
        <span>hoặc</span>
        <a ng-click="open()">Đăng nhập</a>
      </div>
    </section>
  </section>
</section>