<a dropdown-toggle="#dropdown-notification" class="button">
  <img src="assets/img/button-03.png" />
  <div class="indicator" ng-class="{'has-notification': notification.is_new_count > 0}">{{notification.is_new_count}}</div>
</a>
<div id="dropdown-notification" class="f-dropdown" show-on-click="true">
  <div class="dropdown-notification-inner">
    <ul class="noti-list">
      <notification-dropdown-item ng-repeat="noti in notification.notifications" >
      </notification-dropdown-item>
    </ul>
  </div>
</div>