<div class="islandleft">
	<h3>Chuyển tổ nhanh</h3>
	<div class="change_island" ng-repeat="item in islandBuilder.island_data.skill_unlocked_each_island track by $index" 
	ng-if = "item > 0 ? color_title = '#810c15': color_title = '#dddddd'" style="border:1px solid {{color_title}}">
		<h4 style="background:{{color_title}}">
			<a ng-if = "color_title == '#dddddd' ? href_title = '#' : href_title = 'island/'+($index+1)" href="{{href_title}}">Tổ kiến số {{$index+1}}</a>
		</h4>
		<div 
		ng-if="$index+1==param.id ? ac='active' : ac=''"
		class="island_skill {{ac}}">
			<svg 
			ng-if="islandBuilder.island_data.skill_finish_each_island[$index]==islandBuilder.island_data.skill_total[$index] ? (color = '#ffba33') : (color = '#999999')" 
			height="6" width="156">
				<line x1="0" y1="3" x2="156" y2="3" style="stroke:{{color}};stroke-width:6" />
			</svg>
			<svg 
			ng-if = "color!='#ffba33'"
			height="6" width="{{islandBuilder.island_data.skill_finish_each_island[$index]/islandBuilder.island_data.skill_total[$index]*156}}" style="border-radius: 6px; position:absolute;top:11px;left:31px">
				<line x1="0" y1="3" x2="{{islandBuilder.island_data.skill_finish_each_island[$index]/islandBuilder.island_data.skill_total[$index]*156}}" y2="3" style="stroke:#33b5e4;stroke-width:6" />
			</svg>
			<p >{{islandBuilder.island_data.skill_finish_each_island[$index]}}/{{islandBuilder.island_data.skill_total[$index]}} Kỹ năng</p>
		</div>	
	</div>
</div>