.islandcenter{
	font-family: 'Roboto';
	background: white;
	&>.island-center-header{
		padding:20px 20px 70px 20px;
		&>img{
			float:left;margin-right:10px;
		}
		&>h3{
			font-family: 'Roboto';text-transform:uppercase;font-size:24px;color:#666666;float:left;font-weight:500;
			&>span{
				color:#810c15;font-size:14px;text-transform:none;font-weight:500;
			}
		}
	}
	&>.island-center-main{
		position:relative;
		.skill_builder{
			position:absolute;top:0;left:0;z-index:1;
			&>.skill{
				width : 180px;height:180px; position:relative;
				.icon_skill{
					position:absolute; width:70px; height:70px; left:50%; margin-left:-35px;top:10px;
				}
				.skill-section{
					text-align:center;
					&>h4{
						font-family: 'Roboto';
						&>a{
							font-size:23px;margin:0;line-height:26px;text-transform: capitalize;color:black;font-weight:500;
						}
					}
					&>p{
						font-size:23px; color:#999999;margin:0;line-height:26px;font-weight:500;
					}
				}
			}
			&>.svg_complete{
				text-align:center;
				&>a{
					&>img{
						position: absolute;
						left: 50%;
						margin-left: -60px;
						margin-top: 15px;
					}
					&>div{
						color:black;font-size:23px;font-weight:bold;position:relative;font-weight:500;
					}
				}
			}
		}
		&>.svg_line{
			position:absolute;
			
		}
	}
}