.placement-test {
    background-color: $white;
    border-radius: 10px;
    position: relative;
    margin-bottom: 50px;
    min-height: 600px;
    padding-top: 10px;

    header, footer {
        @include grid-row();
    }

    header {
        margin-top: 30px;
	min-height: 30px;
    }

    footer {
        background-color: $smoke;
        border-radius: 0 0 10px 10px;
        min-height: 80px;
    }
    
    .question {
        min-height: 450px;
    }
}

.player {
    margin-top: 40px;
}